*{
    box-sizing: border-box;
}
nav{
    color: white;
    text-decoration-line: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
Table{
    display: inline-block;
    width: vw;
    align-content: center;
    border-collapse: collapse;
}
tr,td{
    border:2px solid white;
}
a{
    text-decoration: none;
    color: white;
}
#logo{
    display: block;
    height: 30vh;
    margin: auto;
    
}
#heading{
    padding: 60px;
    margin: 5vh;
    border-radius: 5px;
    height: 90vh;
    border: 3px solid white;
    align-content: center;
    display: flex;
    }
#idx{
    background-image: url(images/index.jpeg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#wtr{
    background-image: url(images/water.jpeg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#r{
    background-image: url(images/air.jpeg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#fir{
    background-image: url(images/fire.jpeg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#rth{
    background-image: url(images/earth.jpeg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#index{
    padding: 10px;
    width: 31vh;
    
}
#water{
    display: inline-table;
    padding: 10px;
    width: 31vw;
    
}
#air{
    display: inline-table;
    padding: 10px;
    width: 31vw;
}
#fire{
    display: inline-table;
    padding: 10px;
    width: 31vw;
}
#earth{
    display: inline-table;
    padding: 10px;
    width: 31vw;
}
p{
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center
}
.elements{ 
    display: block;
    opacity: 50%;
    margin: 4.4vw;
    width: 15vw;
    height: 15vw;
    position: relative;
    transition: all 1s ease-out;
    overflow: hidden;
}
.elements:hover{
    width: 90%;
}

.elements img{
    width: 15vw;
}

.elementstext{
    position:absolute;
    top: 0vw;
    left:15vw;
    height:10vh;
    width:70vw;
    
}

