/* RESET *******************/

* {
    margin: 0;
    box-sizing: border-box;
}


/* Styles *****************/

body {
    font-family: "Lora", serif;
    background-color: #0f1223;
}

h1 {
    font-family: "Grenze Gotisch", serif;
    font-size: 60px;
    color: #0f1223;
    top: 1500px;
    margin: 20px 0;
    text-align: center;
}

h2 {
    font-family: "Grenze Gotisch", serif;
    font-size: 60px;
    color: white;
    top: 1500px;
    margin: 60px 0;
    text-align: center;
}

h3 {
    font-family: "Grenze Gotisch", serif;
    font-size: 30px;
    color: #d1ac91;
    text-align: center;
}


/* Header **********/

header {
    background-color: white;
    color: black;
    padding: 30px;
    text-align: center;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

nav {
    margin-top: 0 px;
}

nav a {
    margin: 20px;
    background-color: #ad8c73;
    padding: 0.2rem 1rem;
    border-radius: 8px;
}

nav a:hover {
    color: ##f7f9fa;
    background-color: #3f729b;
}

/* Main *********/

section {
    color: #0f1223;
    min-height: 0vh;
    background-size: cover;
    background-color: #0f1223;
    background-attachment: fixed;
}

#apropos {}

.contenant {
    background-color: whitesmoke;
    max-width: 760px;
    padding: 20px;
    margin: auto;
}

.cont_gd {
    background color: aqua;
    display: inline-block;
    gap: 30px;
}

.portrait {
    display: inline-block;
    gap: 30px;
    float: up;
}

article {
    padding: 30px;
    margin-bottom: 40px;


    max-width: 600px;
    padding: 20px;
    background-color: #3f729b;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin: 20px auto;


    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#portfolio {
    color: white;
    min-height: 0vh;
    background-size: cover;
    background-color: #0f1223;
    background-attachment: fixed;
}



.realisations {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    grid-gap: 2rem;
    gap: 2rem;
    max-width: 800px;
    margin: auto;
    margin-top: 2rem;
    width: 95%;

}

.realisation {
    background-color: #3f729b;
    text-align: center;
    padding: 10px;
    width: 28%;
}

.realisation img {
    width: 100%;

}







/* Footer ************/

footer {
    color: #0a0909;
    background-color: white;
    padding: 16px;
    text-align: center;
}
