*{
    margin: 0;
    box-sizing: border-box;
    
} html {scroll-behavior: smooth;  
}

body{
font-family: 'Roboto Slab', serif;     
}

.logo{
    height: 50px;
    position: fixed;
    margin: 0.2rem;
}

#marque {
   background-image: url(Images/Girardin_Autobus_Inc_300e_autobus_scolaire__lectrique_livr__par.jpg);
     background-size: cover;
    background-position: center;
    min-height: 100vh; 
}

.marques {
    max-height: 100px;
    object-position: center;
    margin-left: 50px; 
    float: inherit;
}
.social{
    position: fixed;
    right: 5px;
    margin: 0.7rem;
    text-decoration: none;
}
.social img{
    height: 1.7rem;
    width: 1.7rem;
    margin-left: 3px;
    margin-bottom: 1rem;
    object-position: center;
    text-decoration: none;
  
}

.social a:hover{
    text-decoration: none;
    object-position: center;

}
.socialcontact{
    right: 2rem;
    margin: 0.7rem;
    object-position: center;
    
}

.socialcontact img{
    height: 200px;
    width: 200px;
    margin-left: 20px;
    object-position: center;
    float: inherit;
}


nav{
    position: fixed;
    text-decoration: none;
    height: 3rem;
    left: 5rem;
    right: 7rem;
    padding: 0.6rem;
    background-color: #0d0d0d;
    margin: 0.4rem;
    border-radius: 40px;
    text-align: center;
    
}
nav a{

    text-decoration: none;
    text-align: center;
    color: aliceblue;
   
}
nav a:hover{
    margin-bottom: 150px;
    background-color: #e2c528;
    padding: 0.3rem;
    margin: 8px;
    color: #000000;
    border-radius: 40px;
    text-decoration: none;
}


#bienvenue {
    background-image: url(Images/skoolieacceuil.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-align: center;
}


.textebienvenue {
    text-align: center;
    color: white;
    transition: all 2s ease;   
} 

.textebienvenue2 {
    text-align: center;
    color: white;
    transition: all 2s ease;
    background-color: #eab655;
    margin: 2rem;
    margin-top: 9rem;
} 

.textebienvenue3 {
    text-align: center;
    color: #d01212;
    transition: all 2s ease;
    background-color: #ffffff;
    margin: 2rem;
    margin-top: 40rem;
} 
.texteconversion {
    text-align: center;
    color: #78afde;
    transition: all 2s ease; 
    margin-top: 34rem;
    padding: inherit;
} 



.boutonaccueil{
    display: inline-block;
    background-color: #78afde;
    padding: .6rem 2rem;
    text-decoration: none;
    color: aliceblue;
    margin-top: 500px;
    border-radius: 20px;
    transition: all 2s ease;
    object-position: center; 
    float: inherit;
}
boutonaccueil a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
    
boutonaccueil a:hover{
    display: inline-block;
    background-color: #eab655;
    padding: .6rem 2rem;
    text-decoration: none;
    color: aliceblue;
    margin-top: 500px;
    border-radius: 20px;
    transition: all 2s ease;
    object-position: center; 
    float: inherit;
}

#intro {
    background-image: url(Images/skoolieacceuil.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;  
}

#introaccueil {
    background-image: url(Images/autobuslivre.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;  
}

#intromecanique {
    background-image: url(Images/scolaire.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;  
}

#introregle {
    background-image: url(Images/acc-autobus-e1516299343899.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;  
}
.modeles {
    max-height: 400px;
    max-width: 400px;
    object-position: center;
    margin: 2rem;
    float: inherit;
}

.intromecanique{
    
    padding: 1.5rem;
    background-color: #08090a;
    color: #eab655;
    margin-top: 38rem;
    
}

.moteur {
    max-height: 200px;
    object-position: center;
    margin-left: 50px;
}
.moteur2 {
    max-height: 200px;
    object-position: right;
    margin-right: 50px;
}

.contactsocial {
    max-height: 90px;
    max-width: 90px;
    object-position: center;
    margin-left: 50px;
    margin: 1rem;
    margin-left: 4rem;
    
    
}

h1{
    margin: 3rem;
    text-align: center;
    margin-top: 4rem;
}
h2{
    text-align: center;
    margin: 1rem;
    
}

h3{margin: 2rem;
    text-align: left;
    
}

h4{
    padding: 2rem;
    margin: .3rem .3rem;
    text-align: left;
    
}

p{
    padding: 2rem;
    margin: 0.3rem 0.3rem;
    text-align: left;
    text-align: justify;
    
}

.bouton{
    display: inline-block;
    background-color: #eab655;
    padding: .8rem 2rem;
    text-decoration: none;
    color: #4b3a12;
    margin-top: 2rem;
    border-radius: 20px;
    transition: all 2s ease;
    float: inherit;

}

.boutonbus{
    display: inline-block;
    background-color: #eab655;
    padding: .8rem 2rem;
    text-decoration: none;
    color: #4b3a12;
    margin-top: 2rem;
    border-radius: 20px;
    transition: all 2s ease;
    float: right;
    margin-right: 2rem;

}

.points{
    display: inline-block;
    background-color: #f7f0f0;
    padding: .3rem 1rem;
    text-decoration: none;
    color: #4b3a12;
    margin-top: 2rem;
    border-radius: 20px;
    transition: all 2s ease;
}
.points2{
    display: inline-block;
    background-color: #4fa9d1;
    padding: .3rem 1rem;
    text-decoration: none;
    color: #4b3a12;
    margin-top: 2rem;
    border-radius: 20px;
    transition: all 2s ease;
}


#etape1{
    background-color:#4fa9d1;
    background-size: 100px cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: center;
    padding: 100px;
    text-align: center;
  
} 
#etape2{
    background-color:#faf6f6;
    background-size: 100px cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: center;
    padding: 100px;
    text-align: center;
  
} 

#etape3{
    background-color:#4fa9d1;
    background-size: 100px cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: center;
    padding: 100px;
    text-align: center;
  
} 
#etape4{
    background-color:#f0f4f5;
    background-size: 100px cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: center;
    padding: 100px;
    text-align: center;
  
} 

#etape5{
    background-color:#4fa9d1;
    background-size: 100px cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: center;
    padding: 100px;
    text-align: center;
  
} 
#etape6{
    background-color:#4fa9d1;
    background-size: 100px cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: center;
    padding: 100px;
    text-align: center;
  
} 

article img{
    width: 13rem;
    float: left;
    margin-right: 1.2rem;
    margin-left: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: 15px;
}
article{
    text-align: center;
    padding: 2rem;
}
section{
    overflow: hidden;
}

.hautpage{
    display: inline-block;
    background-color: #f7f0f0;
    padding: .3rem 1rem;
    text-decoration: none;
    color: #4b3a12;
    margin-top: 2rem;
    border-radius: 20px;
    transition: all 2s ease;
    margin-bottom: 1rem;
    
}


footer{
    margin-top: 2rem;
    color: #acafaf;
    text-align: center;
    margin-bottom: 1rem;
}