* {
    margin: 0;
    box-sizing: border-box;

}



/**************** Typo ****************/


body {
    font-family: 'Lato', sans-serif;
}




/*** Typo Accueil ***/


.titre_accueil {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
}

.bouton {
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}





/*** Typo À propos ***/


.titre_historique {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
}

.historique p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

.historique a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
}





/*** Typo Ingrédients ***/

.titre_ingredients_naturels {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
}



.titre_ingredients {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
}

.texte_ingredients {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}





/*** Typo Produits ***/

.titre_savon {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
}

.text_panier {
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
}


.nom_savon {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}


.prix {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: gray;
}







/*** Typo Contact ***/


.question {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
}


.adresse {
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
}

.formulaire {
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
}




/*** Typo footer ***/


.titre_footer {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.aide {
    font-family: 'Amatic SC', cursive;
    font-size: 1.4rem;
}

footer a {
    font-family: 'Lato', sans-serif;
    font-size: 0.6rem;
}


.retour_accueil {
    font-family: 'Lato', sans-serif;
    font-size: 0.6rem;
    font-weight: 300
}





/**************** Photos ****************/


img {
    max-width: 100%;
}

.portrait {
    width: 50%;
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.52);

}

.logo {
    width: 35%;
    margin-bottom: 5rem;
    margin-top: 1rem;
}



.slogan {
    background-image: url(images/savon_2.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
}

.ingredient {
    width: 40%
}




/**************** Header ****************/




header {
    background-color: rosybrown;
    color: white;
    text-align: center;
    padding: 0.5rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin: 0 1rem;
    display: inline-block;
    font-size: 0.75rem;

}

nav a:hover {

    background-color: snow;
    color: black;

}

.shopping_cart {
    width: 1.5rem;
}

.shopping_cart:hover {

    transform: scale(1.2);
    transform-origin: left;
}


.petit_logo {
    width: 6rem;
}




/**************** Body ****************/



body {
    background-color: rgba(204, 234, 235, 0.96);

}

main {
    padding-top: 6rem;
    padding-bottom: 6rem;
}





/**************** Accueil ****************/


#accueil {
    padding: 10vw;
}


.slogan {
    padding-top: 0rem;
    padding-bottom: 8rem;
    text-align: center;
    max-width: 80rem;
    margin: auto;

}


.bouton {
    border: 2px;
    background-color: rosybrown;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 4rem;
    color: whitesmoke;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.52);
    margin-top: 1.5rem;
}

.bouton:hover {
    background-color: whitesmoke;
    color: black;
}

.bouton:active {
    transform: translate(0, 5px)
}







/**************** À propos ****************/


.historique {
    max-width: 1000px;
    margin: auto;
    padding: 6rem;
    background-color: whitesmoke;
    border-radius: 2rem;
    margin-top: 3rem;


}


.titre_historique {
    margin-bottom: 2rem;


}

.historique p {
    margin-bottom: 1rem;
    margin-right: 4.5rem;
    text-align: left;

}

.historique a {
    text-decoration: none;
    color: black;
    font-style: italic;
}


/**************** Nos ingrédients ****************/




.ingredients_naturels {
    display: flex;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.titre_ingredients_naturels {
    margin-top: 3rem;
    text-align: center;
    color: black;
}


.texte_ingredients {
    padding: 2rem;
    margin-left: 2rem;

}

.texte_ingredients p {
    margin-top: 1rem;
    text-align: left;
}

.texte_ingredients a {
    text-decoration: none;
    color: black;
    font-style: italic;
}




/**************** Nos produits ****************/


.titre_savon {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: black;

}

.savons {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 8rem 4rem;

}

.savon {
    display: inline-block;
    width: 13rem;
    line-height: 1.8rem;
    margin: 1rem;
    background-color: whitesmoke;
    padding: 1.5rem;
    border-radius: 1rem;
}

.photo_savon {
    width: 100%
}

.panier {
    border: 2px;
    background-color: rosybrown;
    display: inline-block;
    padding: 0.4rem;
    text-decoration: none;
    border-radius: 2rem;
    color: whitesmoke;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.52);
    margin-top: 1rem;
}

.panier:hover {
    background-color: white;
    color: black;
}

.panier:active {
    transform: translate(0, 5px)
}






/**************** Contact ****************/



.contact {
    max-width: 800px;
    margin: auto;
    padding: 8rem;
    border-radius: 3px;
    padding-bottom: 3rem;

}

.question {
    margin-top: 1rem;
}

input {
    display: block;
    margin-bottom: 0.5rem;

}

label {
    font-size: 0.8rem;

}

.formulaire {
    max-width: 800px;
    margin: auto;
    padding: 3rem;
}

.info_contact {
    display: flex;
}


.adresse {
    padding: 3rem;
}




/**************** Footer ****************/



footer {
    background-color: rosybrown;
    color: white;
    text-align: center;
    text-align: left;

}

footer a {
    color: whitesmoke;
    text-decoration: none;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
    display: block;
    text-transform: uppercase;
    font-weight: 300;
}

footer a:hover {
    transform: scale(1.2);
    transform-origin: left;

}

.menu_footer {
    display: flex;
    padding: 5rem;
}

.menu_footer > div {
    margin-left: 5rem;
}

.menu_footer > div:first-child {
    margin-top: -0.5rem;
}

.reseaux_sociaux a {
    display: inline-block;
    width: 2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
    margin-left: 0rem;
}


.retour_accueil {
    padding-bottom: 0.5rem;
    text-align: center;

}

.retour_accueil a {
    padding: 0;
    margin-right: 2rem;
    display: inline;
}
