body {
    font-family: 'Roboto', sans-serif;
}


header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 3, 33, 0.85);
    height: 10vh;
    top: 0;
    left: 0;
    padding: 4rem 0;
    transition: all 0.4s ease;
    z-index: 900;

}




section {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: #000055;
    background-image: url(Images/axolotl%20optimis%C3%A95.png)
}

#apparence {
    background-color: #0c47a5;
    background-image: url(Images/axolotl_optimis%C3%A96.png)
}

#troubles {
    background-color: #001233;
    max-width: inherit;
    max-height: inherit;
    background-image: url(Images/axolotl%20baby%20optimis%C3%A9.png)
}

#spécialité {
    background-image: url(Images/Axolotl%20optimis%C3%A93.png)
}

#Sauvetage {
    background-image: url(Images/Axolotl%20Optimis%C3%A94.png)
}

a {
    text-decoration: none;
}

nav a {
    display: initial;
    text-transform: uppercase;
    padding: 0.8em 1em;
    margin: 1em 0;
    text-align: center;
    color: #00d8ff;
}

nav a:hover {
    color: #58ff00
}

.gros_titre {
    font-size: 12vmin;
    margin-top: 20vh;
    margin-bottom: 0.5em;
    color: #2fe7ff;
    font-family: 'Abril Fatface', cursive;
}

.petit_titre {
    font-size: 6vmin
}

.bouton {
    display: inline-block;
    margin: 2rem;
    background-color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
    font-size: 2vmin;
    border-radius: 10px
}

.bouton:hover {
    top: 2rem;
    color: #3feadd;
    transition: all 0.1s;
    border-radius: 130px;
    padding: 1.5em;
    background-color: #0062ff
}

.bouton:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.bouton_prochain {
    box-sizing: border-box;
    display: inline-block;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
    background-color: #80c0ff;
    padding: 1.0rem;
    width: 10vw;
    text-align: center;
    border-radius: 30px;
    color: white;


}

.bouton_prochain:hover {
    top: 0rem;
    color: black;
    background-color: rgba(0, 167, 255, 0.85);
    padding: 1.6em;
    transition: all 0.1s;
}

section {
    min-height: 100vh;

}

article {
    margin: 2em;
    padding: 2em;
    background-color: #001c5a;
    margin: auto;
    margin-top: 8rem;
    max-width: 800px;
    border-radius: 5rem;
    color: aliceblue
}

#accueil {
    background-image: ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#partie2 {
    background-image: radial-gradient(black, white);
}

footer {
    color: white;
    background-color: #001467;
    text-align: center;
    padding: 1rem 2rem;
    z-index: 1000;
    position: relative;
}

img {
    height: 100pox;
    vertical-align: middle;
    max-width: 30rem;
    padding: inherit;
    position: static
}

.container {
    border-radius: 5rem;
    background-color: #0b0d3c;
    padding: 20px;
}

input[type=submit]:hover {
    background-color: #2d9de3;
}

input[type=submit] {
  background-color: #4ca7af;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: verticalè
}
