body{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
}

a{
    display: inline-block;
    background-color: #825dff;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
    padding: 1.5em;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 5px;
    font-size: 2em;
}
a:hover{
    background-color: #ffd798;
}