*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 1em 3em; 
    background-color: rgba(255,255,255,0.9);
    font-family: "Montserrat", sans-serif;
}
h1{
    margin-bottom: 0;
}
h3{
    margin-top: 0;
    color: #f2855c;
}

h2{
    display: inline-block;
    background-color: #f2855c;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    color: #fff;
    margin-top: 0;
}
