/* RESET */

* {
    margin: 0;
    box-sizing: border-box;
}

/* STYLE */

body {
    background-color: #dbdbdb;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

.draggable {
    position: absolute;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.draggable:hover .controls {
    opacity: 1;
}

img {
    width: 100%;
    display: block;
    transition: filter .4s ease-out;
}

img:after {
    content: "Looks like a bad link!";
    background-color: #969696;
    color: white;
    padding: 55px 40px 25px;
    display: block;
    width: 80px;
    height: 70px;
    z-index: 10;
    font-weight: bold;
}


.controls {
    position: absolute;
    top: 5%;
    opacity: 0;
    font-weight: bold;
    display: block;
    cursor: pointer;
    transition: all .2s ease-out;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    font-size: 1.35em;
}

.controls:hover {
    color: #ffda76;
}

.close {
    right: 5%;
    transform: rotate(45deg);
    font-size: 2.7em;
    margin-top: -0.18em;
}

.up {
    right: calc(5% + 40px);
    font-size: 1.35em;

}

.down {
    right: calc(5% + 80px);
    font-size: 1.35em;
}

.bw {
    right: calc(5% + 120px);
}

.grayscale img {
    filter: grayscale(100%);
}

header {
    position: absolute;
    width: 100%;
    top: 1em;
}

#title {
    font-weight: bold;
    font-size: 1.2em;
    color: #969696;
    display: block;
    margin-left: 1em;
}

#add {
    color: #969696;
    font-weight: bold;
    font-size: 2.5em;
    position: absolute;
    right: 0.5em;
    top: -0.31em;
    cursor: pointer;
}

#add:hover {
    color: #4e4e4e;
}

#form {
    position: absolute;
    top: 0;
    right: 3.5em;
    opacity: 1;
    transition: all .4s ease-in-out;
}

#form.hidden {
    opacity: 0;
}

#form.hidden #img_url {
    display: none;
}

#img_url {
    background-color: #dbdbdb;
    border: none;
    border-bottom: 2px solid #969696;
    color: white;
    width: 30em;
    padding-left: 1em;
}

#img_url::placeholder {
    color: #969696;

}

*:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 2em;
    right: 3%;
    color: #bcbcbc;
    font-size: .8em;
}

#start_info {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
}

#start_info.hidden {
    display: none;
}

.info {
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
    color: #969696;
}
