*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --main-color: #3cf0ab;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('video/Under-construction.jpg');
    background-size: cover;
    overflow: hidden;
}

#video {
    position: fixed;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 58, 108, 0.2);
}

#info{
    position: absolute;
    top: 30vh;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 1em 3em; 
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
h1{
    margin-bottom: 0;
    color: #fff;
    font-size: 3em;
    text-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
h3{
    margin-top: 0;
    color: var(--main-color);
    text-shadow: 0 1px 3px rgba(0,0,0,0.2);
    font-size: 1.36em;
    font-weight: no
}

h2{
    display: inline-block;
    background-color: #fff;
    padding: 0.5em 0.7em;
    border-radius: 0.2em;
    color: black;
    font-size: 1.3em;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
h4{
    color: #fff;
    margin: 0;
    text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.reverse{
    unicode-bidi: bidi-override;
    direction: rtl;
}

@media screen and (max-aspect-ratio: 1920/1080) {
  #video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  #video {
    width: 100%;
  }
}