*{
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #000000;
    font-family: 'Roboto', helvetica, Arial, sans-serif;  
}

main {
    background-image: url(images_optimisees/titre.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


header {
    text-decoration: none;
    background-color: #d99931;
    color: #ffffff; 
    text-align: right; 
    padding: 20px 40px 30px 40px;
}


.logo {
     width: 10%;
    float: left; 
}


header a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 0.8em 1em;    
}


header a:hover{
    color: #000000;
    text-decoration: none;
}


nav a{
   margin-right: 20px;
}


ul{
    list-style: none;
 
}


li{
   background-color: rgba(0, 0, 0, 0.6); 
}


.background{
    background-image: url(images/salon.jpg);
    margin-top: 230px;
    background-size: cover;
    background-position: center;
}


#steps ul{
    padding-left: 200px;
    padding-right: 200px;
    align-content: center;   
}


#steps ul li
{
    width: 300px;
    float: left;
    padding-top: 200px;
    text-align: center;
    margin-right: 120px;
    max-width: 900px; 
}


#steps p{
    margin-bottom: 400px;
    padding: 2rem 2rem;
}


.fond{
   background-image: url(images_optimisees/accessoires2.jpg);
   min-height: 100vh;
   background-size: cover;
   background-position: center;
}


.bouton {
    display: inline-block;
    padding: 1.2rem 2rem;
    margin-right: 90px;
    font-size: 3rem;
    color: #d99931;
    border-radius: 1.5rem;
    text-align: center;
    border: 2px solid #d99931; 
    text-decoration: none;   
}


.bouton:hover{
   background-color: rgba(217, 153, 49, 0.49);
   border: 2px solid #d99931;
   color: #d99931;
}


.centre{
    margin: 40re;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10vh;
}


img {
  max-width: 800px;
  padding: 20px 30px 20px 30px;
  width: 90%;
  border-radius: 10px;
  position: relative;
  clear: both;     
}

#coiffeur1 {
  max-width: 900px;
  background-color: #ffffff;
  margin: auto;
  padding: 20px 30px 20px 30px;
  background-color: rgba(0, 0, 0, 0.59);
  float: right;
  }  

#coiffeur2 {
  max-width: 900px;
  background-color: #ffffff;
  margin: auto;
  padding: 20px 30px 20px 30px;
  background-color: rgba(0, 0, 0, 0.59);
  float: left;
} 


article {
  max-width: 900px;
  background-color: #ffffff;
  margin: auto;
  padding: 20px 30px 20px 30px;
  background-color: rgba(0, 0, 0, 0.59);
}


p, h2 {
    color: #ffffff;
    border-radius: 20px;
    position: relative;
    left: 10px;   
}


h2 {
    font-family: 'Playfair Display', helvetica, Arial, sans-serif;     
}


input {
    display: block;
}


label{
    font-size: 0.7rem;
    color: grey;
}


footer {
    text-decoration: none;
    color: #ffffff;
    text-align: center; 
    background-color: #d99931;
    padding: 20px 40px 30px 40px;
    position: relative;
    z-index: 1000;
    clear: both;
}


footer a{
    text-decoration: none;
    color: #ffffff;
    text-align: center; 
    padding: 20px 40px 30px 40px;
}

















