/***********************  RESET  ************************/

* {
    margin: 0;
    box-sizing: border-box;
}


/***********************  TYPO  ************************/

p {
    font-family: 'Nunito', sans-serif;
}

h1,
nav,
footer,
.bouton {
    font-family: 'Playfair Display', serif;
}

/********************  NAVIGATION  **********************/

nav {
    font-size: 1em;
    clear: both;
    width: 100%;
    text-decoration: none;
    background-color: #782d50;
    padding: 1%;
}

nav a {
    margin-left: 5em;
}

a:hover {
    color: #e59500;
}

nav:hover {
    background-color: #782d50;
}

/***********************  BODY  ************************/

#logo {
    margin-top: 3em;
    max-width: 20%;
    margin-left: 50%;
}

body {
    background-image: url(images/arriere_plan_cal.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.calligraphie {
    display: block;
    margin: auto;
    max-width: 50%;

}

@-webkit-keyframes scale-up-bl {
    0% {
        transform: scale(0.5);
        transform: scale(0.5);
        transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        transform: scale(1);
        transform: scale(1);
        transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

.bouton {
    display: block;
    margin: auto;
    background-color: #782d50;
    width: 8em;
    text-align: center;
    padding: 0.2em;
    font-size: 1em;
    border-radius: 0.3em;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.43);
}

.bouton:hover {
    background-color: #ffe4b2;
}

.bouton a {
    margin-left: 0;
}

/***********************  PRESENTATION  ************************/

h1 {
    font-size: 2em;
    margin-left: 0.5em;
}

main {
    margin: auto;
    max-width: 80%;
    width: 900px;
}

#img_intro {
    width: 100%;
    margin-top: 1em;
    filter: grayscale(1);
}

#img_intro:hover {
    filter: grayscale(0);
    filter: grayscale(0);
}

article {
    margin-top: 1em;
    padding: 2em;
    margin-bottom: 4em;
    width: 100%;
    background-color: #ffe4b2;
    column-count: 3;
    column-count: 3;
    column-count: 3;
    column-gap: 10px;
    column-gap: 10px;
    column-gap: 10px;
    column-rule: 1px solid rgba(28, 110, 164, 0.5);
    column-rule: 1px solid rgba(28, 110, 164, 0.5);
    column-rule: 1px solid rgba(28, 110, 164, 0.5);
}

article a {
    text-shadow: none;
    color: #782d50;
}

p {
    padding: 1em;
    line-height: 1em;
    font-size: 1em;
}

a {
    width: 100%;
    text-decoration: none;
    margin-left: 2em;
    color: #FFFFFF;
    text-shadow: 1.2px 0px 0px rgba(193, 185, 185, 0.69);
}

/*********************  PORTFOLIO  **********************/

.galerie {
    margin: auto;
    max-width: 90%;
    width: 1000px;
    text-align: center;
}

.galerie div img {
    display: block;
    margin: auto;
}


/*********************  CONTACT  **********************/

ul {
    padding: 0;
    text-align: center;
    animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

ul li {
    padding: 0.5em;
    list-style: none;
    font-size: 25px;
    display: inline-block;
    margin-right: 1em;
    background-color: #782d50;
    border-radius: 30px 0px 30px 0px;
    border-radius: 30px 0px 30px 0px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.43);
}

ul li:active {
    transform: translateY(3px);
    box-shadow: 5px 2px 5px rgba(128, 128, 128, 0.43);
}

ul li a {
    color: white;
    transition: all 0.4s ease-out;
    margin-left: auto;
}

/**********************  FOOTER  ***********************/

footer {
    color: white;
    padding: 0.3em;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    background-color: #782d50;
    position: fixed;
    width: 100%;
    bottom: 0;
}
