* {
    margin: 0;
    box-sizing: border-box;
}

/********header*********/

header a {
    text-decoration: none;
    vertical-align: middle;
    margin: 2em;
    text-transform: uppercase;
    color: white;
    transition: all 0.2s ease-out;
    font-family: 'Raleway', sans-serif;
}

header a:hover {
    color: #000000;
}

header a:first-child {
    padding-left: 2rem;
    padding-right: 1rem;
}

header {
    text-align: center;
    padding: 1em;
    background-color: #333333;
    transition: all 0.5s ease-out;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header:hover {
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.89) 0%, rgba(51, 51, 51, 0.02) 100%);
}

.petitlogo {
    width: 3.2em;
    vertical-align: middle;
    margin-left: 2.5rem;
    margin-right: 2rem;
}


/*********boutons**********/

.boutoncours {
    display: inline-block;
    background-color: rgba(51, 51, 51, 0.61);
    padding: 4.2em 3.5em;
    text-decoration: none;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    font-family: 'Raleway', sans-serif;
}

.boutoncours:hover {
    background-color: white;
    color: #333333;
}

.bouton {
    display: inline-block;
    background-color: rgba(51, 51, 51, 0.61);
    text-align: center;
    padding: 2em 3em;
    text-decoration: none;
    margin-top: 3rem;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    font-family: 'Raleway', sans-serif;
}

.bouton:hover {
    background-color: white;
    color: #333333;
}

.bouton_centrer {
    margin: auto;
    margin-top: 3rem;
    display: block;
    width: 13rem;
}

.fleche {
    width: 4.5rem;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    opacity: 0.5;
    margin-top: 5rem;
}


.fleche:hover {
    opacity: 1;
}

/*********accueil**********/


section {
    padding: 3em;
}

#accueil {
    background-image: url(images/piano_fille_enfant.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #333333;
}

.chapeau {
    color: #333333;
    padding-bottom: 2em;
    padding-top: 1em;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: none;
}

.logo {
    width: 37em;
    margin-top: 1em;
    max-width: 100%;
}

article {
    background-color: rgba(255, 255, 255, 0.85);
    width: 90%;
    max-width: 1000px;
    padding: 3.5rem;
    margin: auto;
    border-radius: 2px;
}

#accueil article {
    padding-bottom: 5rem;
    text-align: center;
    margin-top: 4.5em;
}


/*********section piano**********/

#piano {
    background-image: url(images/lunette.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    flex-flow: column;
    padding: 3rem;
}



/*********chant**********/

#chant {
    background-image: url(images/micro_vintage.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

/*********autres**********/


#autres {
    background-image: url(images/fille_ecouteur.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}


/*********tarifs**********/

#tarifs {
    background-image: url(images/micro_garcon.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
}

#tarifs article {
    padding-bottom: 5rem;
    text-align: center;
}

#tarifs h3 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.7em;
    padding-top: 1em;
}

/*********inscription**********/

#inscription {
    background-image: url(images/ecouteur.jpg);
    background-size: cover;
    width: 100%;
}

#inscription h1 {
    font-size: 2rem;
    margin-top: 1rem;
}

#inscription h3 {
    padding-top: 0.5rem;
}


#inscription article {
    margin-top: 5rem;
    text-align: center;
}


/*********presentation**********/

#presentation {
    background-image: url(images/piano.jpg);
    background-size: cover;
    width: 100%;
}

#presentation article {
    margin-top: 5rem;
}

.vicky {
    max-width: 40%;
    float: right;
    padding-left: 2rem;
    padding-top: 3rem;
}


/*********politiques**********/

#politique_fond {
    background-image: url(images/micro_vintage_noir.jpg);
    background-size: cover;
    width: 100%;
}

#politique_fond article {
    margin-top: 8rem;
    margin-bottom: 3rem;
}



/*********typographie**********/

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    padding-top: 1rem;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    padding-top: 1em;
}

ul {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    list-style-type: square;
}


/*********footer**********/

footer {
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: #333333;
}

footer p {
    font-size: 0.75rem;
    padding-top: 0.2rem;

}

footer h3 {
    padding-top: 0.25rem;
    font-size: 1rem;
}

.facebook_logo {
    width: 2.5rem;
    margin-top: 0.5rem;
    transition: all 0.2s ease-out;
}

.facebook_logo:hover {
    filter: invert(0.2);
}


@media screen and (max-width:1000px) {
    header {
        
    }
}
