/********Styling for Header*******/

header {
    padding: 0.75rem 5rem;
    position: sticky;
    top: 0;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    background-color: #fab4b4;
    transition: all 0.4s ease-in-out;
    z-index:100;
}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

nav a:hover{
background-color:#bbf0e6;
padding:0.5rem 0.5rem;
text-decoration:underline;
}

.menu {
    color: white;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    padding: 1.5em 1.5em;
    transition: all 0.1s ease-out;
}

#shoppingcart {
    float: right;
    filter: invert(100%);
}


/********Styling for Header ends here*******/


/******Styling for Footer********/
footer {
    background-color: #fab4b4;
    padding: 5em 2em;
    color: white;
    border-top: 8px solid white;
}

.footer_container {
    max-width: 1000px;
    margin: auto;
    padding: 4rem 2rem;
    padding-top: 0;

}

#shopinfo {
    display: inline-block;

}

#shopinfo p {
    font-size: 1.25rem;
    padding: 1.5px 1px;
}

#mapimage {
    max-width: 425px;
    max-height: 425px;
    display: block;
    border-radius: 25px;
    border: solid 8px white;
}

#map {
    display: inline-block;
    float: right;
}

.containerform {
    margin: auto;
    text-align: left;
    display: inline-block;
    margin-bottom: 2%;
    margin-top: 1%;
    padding-bottom: 50px;
    padding: 1rem 1rem;
    padding-left: 0px;
}

.containerform h2 {
    text-align: right;
    display: block;
    padding-bottom: 1rem;
}

.input {
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;

}

input:focus{
    background-color:#bbf0e6;
}
.formbutton {
    background-color: #bbf0e6;
    display: block;
    border-radius: 20px;
    padding: 5px 10px;
    border: solid 5px white;
    font-size: 1.25rem;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
    font-family: "Poppins", sans-serif;
    margin: auto;
    margin-top: 5%;
    margin-left: 0;

}

.formbutton:hover{
    text-transform:uppercase;
    transform:scale(1.5);
}

#socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialmediaicons {
    filter: invert(100);
    margin: 10px 10px;
}

/******Styling for Footer ends here********/



/*******Styling for Body********/
body {
    background-color: #4ee8cb;
    font-family: "Poppins", sans-serif;
}

#icecreamshoplogo {
    padding: 2rem 2rem;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    filter: invert(100%);

}

/*******Styling for Body ends here********/


/*******Styling for Home Page***************/

.icecreamimages {
    border: 10px solid #fab4b4;
    border-radius: 25px;
    height: 350px;
    width: 350px;
}

#homepageimage img {
    display: block;
    border: 10px solid #fab4b4;
    max-width: 1150px;
    max-height: 1150px;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 25px;
}

/* section */
.homepagegallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%;

}

/* Div */
.column {

    margin: 10px;
    height: 350px;
}

.hovertext {
    text-align: center;
    color: white;
    font-size: 2em;
    position: relative;
    bottom: 215px;
    text-shadow: 3px 3px #242323;
    padding: 0px;


}

.hovertext:hover {
    background-color: rgba(250, 180, 180, 0.5);
    text-shadow: 1px;

}

/*******Styling for Home Page ends here******/


/*******Styling for Page Menu*********/

#icecreamtitle {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: white;
    margin: 25px;
    margin-top: 1rem;
}

.menusection {
    background-color: white;
    margin: auto;
    width: 800px;
    padding: 1em 1em;
    margin-bottom: 2rem;
    border-radius: 25px;
}

#menusectionlast {
    margin-bottom: 6rem;
}

.menudiv {
    display: flex;
}

.menudivleft {
    display: flex;
    flex-direction: row-reverse;
}

.menuarticle {
    padding: 1em 1em;
}

.menuarticle p {
    text-align: left;
    text-indent: 20px;
}

h3 {
    color: #fac753;
    text-align: center;
}

.imagemenu {
    border: solid 10px #bbf0e6;
    border-radius: 25px;
    margin: 10px;
}

/*******Styling for Page Menu Ends here*********/




/********Styling for Shop Online Page************/

.shoptitle {
    color: white;
    text-align: center;
    margin: 15px;
}

#shopmaintitle {
    margin-top: 1rem;
}

.imageshopone {
    border: 5px solid #fab4b4;
    border-radius: 100px;
    width: 175px;
    height: 175px;
    margin: 10px 50px;
}

.imageshoptwo {
    border: 5px solid #fab4b4;
    border-radius: 200px;
    width: 250px;
    height: 250px;
    margin: 10px 50px;
}
.containericecreamtwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5%;
    width: 70%;
    border: double 10px white;
    padding: 50px 5px;
    border-radius: 25px
}

.containericecreamone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5%;
    width: 60%;
    border: double 10px white;
    padding: 50px 5px;
    border-radius: 25px
}

h4 {
    color: white;
    font-size: 1.15em;
    text-align: center;
}
#buttoncontainer{
    margin:0 auto;
    text-align:center;
    margin-bottom:100px;  
}
.button {
    border: solid 3px white;
    display:block;
    margin:0 auto;
    width:10%;
    text-align: center;
    padding: 1.5rem 1.5rem;
    background-color: #fab4b4;
    border-radius: 25px;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);

}

.button:hover{
    color:#bbf0e6;
    background-color:white;
    text-decoration:underline;
    transform:scale(1.5);
    border-radius:0px;
    transition: all 0.1s ease-out;
    
    
}

.button:active{
    
}
/********Styling for Shop Online Page ends here************/


/*******Styling for About Us Page*********/

#titleaboutus {
    text-align: center;
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    color: #fab4b4;
    margin-top:5px;
}

#aboutussection {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 990px;
    margin-bottom: 10rem;
    margin-top:2rem;
}

#aboutusarticle {
    background-color: white;
    border-radius: 25px;
    
}

#aboutusarticle p {
    font-size: 1rem;
    padding-right:1rem;
    padding-left:1rem;
    text-indent: 30px;
    margin-top:10px;
    
    
}

em{
font-variant: small-caps;
color:#fab4b4; }

em:hover{
    background-color:#bbf0e6;
}


#aboutusdiv img {
    border: solid 10px #fab4b4;
    width: 515px;
    border-radius: 25px;

}

#aboutusdiv {
    margin-right:30px;
    margin-top:10px;

}

/*******Styling for About Us Page ends here*********/