/*********** RESET ***********/
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    /*Ne fonctionne que sur Chrome, Firefox et Opera*/
}

section {
    margin-left: 100px;
    overflow: hidden;
    /*  Un petit "hack" pour empêcher les marges de vos éléments de dépasser la section  */
}

/*********** Overall ***********/

.source {
    text-decoration: none;
    color: rgba(255, 163, 72, 0.43);
}


#fleche a {
    text-decoration: none;
    color: white;
    background-color: #ffa348;
    font-size: 25px;
    display: flex;
    flex-direction: row-reverse;
    padding: inherit;
    height: 45px;
    width: 45px;
    padding-right: 10px;
    padding-top: 2px;
    border-radius: 45px;
    text-shadow: 2px 2px rgba(43, 49, 54, 0.4);
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;

}

#fleche a:hover {
    transform: rotate(360deg);
    transition: all 0.5s ease-in;
}

header {
    top: 0;
    left: 0;
    background-color: #2b3136;
    height: 100vh;
    width: 90px;
    z-index: 100;
    position: fixed;
    transition: all 0.2s ease-out;
    padding-bottom: 20px;
}


header a {
    text-decoration: none;
    width: 180px;
    color: white;
    font-family: Montserrat, Sora, sans-serif; font-weight: 600;
    font-size: 20px;
    display: block;
    margin-left: 10px;
    margin: 100px 0;
    padding: 20px;
    position: relative;
    left: -100px;
    transition: all 0.2s ease-out;
    white-space: nowrap;
    background-color: rgb(43, 49, 54);
    border-radius: 100px;
}

header a:hover {
    left: 0;
    transition: all 0.3s ease-out;

}



.icon {
    max-width: 70px;
    margin-left: 90px;
    display: flex;
    margin-top: -35px;

}

#crayon {
    margin-top: -48px;

}

footer {
    text-align: center;
    text-decoration: none;
    background-color: #2b3136;
    text-align: center;
    width: 100vw;
    color: white;
    font-family: Montserrat, Sora, sans-serif; font-weight: 600;
    font-size: 15px;
    padding: 30px;

}

.image {
    position: absolute;

}



/*********** STYLE-ACCUEIL ***********/
body {
    background-color: #2b3136;

}

.section_img {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

.image_fond {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.section_img a {
    text-decoration: none;
    position: relative;
    color: #fdfaf5;
    background-color: #2f506d;
    font-family: Montserrat, Sora, sans-serif; font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-self: center;
    align-content: center;
    text-align: center;
    z-index: 2;
}

.section_img a:hover {
    color: #ffa348;
    font-size: 20px;
}

/*********** JEU ***********/

#terrorists {
    background-image: url(Images/terrorists2.jpeg);
    box-shadow: inset 0 -5px 10px #2b3136;
}

#t {
    height: auto;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 100px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.88);
    color: #2b3136;
    z-index: 2;




}

#t h1 {
    text-align: right;
    font-family: Montserrat, Sora-regular, sans-serif; font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    margin-right: 55px;
    color: #ffa348;
}

#t p {
    text-align: right;
    font-family: Sora-regular, sans-serif;
    font-size: 18px;
    margin-right: 55px;
    max-width: 700px;
    margin-left: auto;


}

#counterterrorists {
    background-image: url(Images/counterterrorists.jpeg);
    background-size: cover;
    background-position: top left;
    box-shadow: inset 0 -5px 10px #2b3136;

}

#ct {
    height: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 300px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.88);
    color: #2b3136;
}

#ct h1 {
    text-align: left;
    font-family: Montserrat-bold, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffa348;
    margin-right: 55px;

}

#ct p {
    text-align: left;
    font-family: Sora-regular, sans-serif;
    font-size: 18px;
    margin-right: 55px;


}

#sectionranks {
    background-image: url(Images/ranks);
    background-position: center;
    box-shadow: inset 0 -5px 10px #2b3136;
}

#ranks {
    height: auto;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 100px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.88);
    color: #2b3136;

}

#ranks h1 {
    text-align: right;
    font-family: Montserrat-bold, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffa348;
    margin-right: 55px;
}

#ranks p {
    text-align: right;
    font-family: Sora-regular, sans-serif;
    font-size: 18px;
    margin-right: 55px;

}

#sectionlevels {
    background-image: url(Images/levels.png);
    background-position: center;
    box-shadow: inset 0 -5px 10px #2b3136;
}

#levels {
    height: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 300px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.88);
    color: #2b3136;
}

#levels h1 {
    text-align: left;
    font-family: Montserrat, Sora-regular, sans-serif; font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffa348;

}

#levels p {
    text-align: left;
    font-family: Sora-regular, sans-serif;
    font-size: 18px;
    margin-right: 55px;
}

#sectionskins {
    background-image: url(Images/skins);
    background-position: bottom;
    box-shadow: inset 0 -5px 10px #2b3136;
}

#skins {
    height: auto;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 100px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.88);
    color: #2b3136;
}

#awp {
    height: 200px;
    margin-left: 450px;
}

#skins h1 {
    text-align: right;
    font-family: Montserrat, Sora-regular, sans-serif; font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffa348;
    margin-right: 55px;

}

#skins p {
    text-align: right;
    font-family: Sora-regular, sans-serif;
    font-size: 18px;
    margin-right: 55px;

}


/*********** STEAM ***********/

#steambg {
    background-image: url(Images/steam.jpg);
    background-position: right;
    overflow-x: hidden;
}

#cercledroite {
    top: 0;
    right: -470px;
    height: 1000px;
    width: 1200px;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.88);
    position: absolute;
    z-index: -1;
}

#steam {
    padding: 50px;
    font-family: Sora-regular, sans-serif;
    color: #2b3136;
    padding: 15px;
    text-align: right;
    max-width: 550px;
    min-width: 550px;
    margin-left: auto;
    margin-right: 65px;
    margin-top: 60px;
    padding-bottom: 100px;
    position: relative;
}

#steam h1 {
    font-family: Montserrat, Sora-regular, sans-serif; font-weight: bold;
    font-size: 70px;
    color: #ffa348;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 50px;
}

#steam p {
    margin-top: 40px;
    font-size: 20px;

}

#steam_p2 {
    margin-bottom: 70px;
}


/*********** ESPORTS ***********/
#sectionesports {
    background-image: url(Images/stewie);
    background-position: center;
    background-repeat: no-repeat;

}

#sectionesports2 {
    background-image: url(Images/stadium);
    background-position: center;
    background-repeat: no-repeat;


}

.esports {
    background-color: rgba(255, 255, 255, 0.88);
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    max-width: 770px;
    min-width: 770px;


}

.esports h1 {
    font-family: Montserrat, Sora-regular, sans-serif; font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #ffa348;
    padding: 15px;
    padding-bottom: 20px;
}

.esports p {
    font-family: Sora-regular, sans-serif;
    color: #2b3136;
    padding: 15px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    text-align: justify;
}

#astralis {
    height: 92%;
    width: 92%;
    padding: 20px;
    margin-left: 25px;

}

/*********** HISTOIRE ***********/

#sectionhistoire {
    background-image: url(Images/oldcounterstrike.jpg);
    box-shadow: inset 0 -5px 10px #2b3136;
}

#sectionhistoire2 {
    background-image: url(Images/oldcounterstrike2.jpg);
    background-size: 100%;
    box-shadow: inset 0 -5px 10px #2b3136;
}

.histoire {
    background-color: rgba(255, 255, 255, 0.88);
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    max-width: 770px;
    min-width: 770px;
}

.histoire h1 {
    font-family: Montserrat, Sora-regular, sans-serif; font-weight: bold;
    font-size: 40px;
    color: #ffa348;
    padding-bottom: 10px;
    padding-left: 25px;
}

.histoire h2 {
    font-family: Montserrat, Sora-regular, sans-serif; font-weight: bold;
    font-size: 30px;
    color: #ffa348;
    padding-left: 25px;
}

.histoire p {
    font-family: Sora-regular, sans-serif;
    color: #2b3136;
    padding-top: 15px;
    padding-left: 25px;
    Padding-bottom: 15px;

}
