/* RESET */

* {
    margin: 0;
    box-sizing: border-box;
}

/* STYLE */

body {
    background-color: #dbdbdb;
    width: 100vw;
    height: 100vh;
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}

.draggable {
    position: absolute;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.draggable:hover .controls {
    opacity: 1;
}

img {
    width: 100%;
    display: block;
    transition: filter .4s ease-out;
}

img:after {
    content: "Looks like a bad link!";
    background-color: #969696;
    color: white;
    padding: 55px 40px 25px;
    display: block;
    width: 80px;
    height: 70px;
    z-index: 10;
    font-weight: 600;
}


.controls {
    position: absolute;
    top: 15px;
    opacity: 0;
    font-weight: 600;
    display: block;
    cursor: pointer;
    transition: all .2s ease-out;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    font-size: 1.7em;
}

.controls:hover {
    color: #ffda76;
}

.controls:after {
    transition: opacity .2s ease-out;
    opacity: 0;
    content: '';
}

.controls:hover:after {
    position: absolute;
    color: #969696;
    background-color: white;
    border-radius: 3px;
    top: 130%;
    left: 50%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    opacity: .8;
    transition: opacity .2s .7s ease-out;
    text-shadow: none;
}

.close {
    right: 25px;
    /*transform: rotate(45deg);*/
    /*font-size: 2.7em;*/
    /*margin-top: -0.18em;*/
}

.close:hover:after {
	content: 'Delete';
	padding: 5px;
}

.up {
    right: 65px;
}

.up:hover:after {
    content: 'Bring forward';
    padding: 5px;
}

.down {
    right: 107px;
}

.down:hover:after {
    content: 'Send backward';
    padding: 5px;
}

.bw {
    right: 152px;
    font-size: 1.5em;
    margin-top: 3px;
}

.bw:hover:after {
    content: 'Desaturate';
    padding: 5px;
}

.grayscale img {
    filter: grayscale(100%);
}

header {
    position: absolute;
    width: 100%;
    top: 1em;
    z-index: 10000;
}

#title {
    font-weight: 600;
    font-size: 1.2em;
    color: #969696;
    display: inline-block;
    margin-left: 1em;
}

#help {
    margin-left: 18px;
    border-radius: 50%;
    display: inline-block;
    background-color: #bfbfbf;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #dbdbdb;
    font-size: 14px;
    font-weight: 600;
    cursor: help;
    position: relative;
    transition: all .2s ease-out;
    top: -2px;
}


#help:hover {
    background-color: #969696;
    color: white;
    border-radius: 50% 0 0 50%;
}
#help:hover #helpbox{
    padding: 1.2em 1.5em 1.4em;
    opacity: 1;
    visibility: visible;
    background-color: #969696;
}
#help:hover p{
    display: block;
}

#helpbox{
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #bfbfbf;
    width: 17em;
    padding: 0;
    border-radius: 0 3px 3px 3px;
    text-align: left;
    color: white;
    transition: all .2s ease-out;
    opacity: 0;
    visibility: hidden;
    
    
}
#helpbox p{
    margin-top: 1em;
    display: none;
}
#helpbox p:first-of-type{
    margin-top: 0;
}

.plus_button {
    color: #969696;
    font-weight: 600;
    font-size: 2.5em;
    position: absolute;
    right: 0.5em;
    top: -0.31em;
    cursor: pointer;
    transition: color .1s ease-out;
}

#submit {
    position: absolute;
    right: -0.9em;
    background-color: #dbdbdb;

}

#submit:hover {
    color: #ffda76;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#add:hover {
    color: #4e4e4e;
}

#form {
    position: absolute;
    top: 0;
    right: 3.5em;
    opacity: 1;
    transition: all .4s ease-in-out;
}

#form.hidden {
    opacity: 0;
}

#form.hidden #img_url,
#form.hidden #submit {
    display: none;
}

#img_url {
    background-color: #969696;
    border: none;
    /*    border-bottom: 2px solid #969696;*/
    color: white;
    width: 30em;
    height: 1.5em;
    padding: .3em 1em;
    font-size: .9em;
    margin-top: .15em;
    font-family: Montserrat, sans-serif;
}

#img_url::placeholder {
    color: #dbdbdb;
    opacity: 1;

}

*:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 2em;
    right: 3%;
    color: #b2b2b2;
    font-size: .8em;
}

#version {
    color: #969696;
}

#start_info {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
}

#start_info.hidden {
    display: none;
}

.info {
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-weight: 600;
    color: #969696;
}
