* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 2vh;
    padding-right: 4rem;
    padding-left: 4rem;
    color: #000000;
    text-align: left;
    position: fixed;
}


.fleche {
    width: 1rem;
    filter: invert();
}


nav a {
    font-size: 12px;
    color: #DD4C49;
    text-decoration: none;
    display: inline-block;
    text-shadow: 0 0 0 .1rem #a5a5a5;
    float: right;
    padding-left: 2rem;
}

.logo {

    filter: drop-shadow(0 0 0.1rem rgba(114, 114, 114, 0.26));
    float: left;
}

.nav a:hover {
    color: white;
    transform: scale(1);
    font-size: 10px;
}

#services_pour_entreprises {

    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #7FA6A5;
}

.bouton_prochain {
    display: block;
    width: 2rem;
    margin: auto;
    margin-top: 2rem;
}

.bouton {

    background-color: #2E6D7E;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 15px;
    text-decoration: none;
    border-radius: .2rem;
    color: white;
    display: inline-block;
    margin-top: 2rem;

}

.bouton:hover {
    transform: scale(.9);
}

/*****sections*****/

#a_propos {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #036E80;
}

img {
    float: center;
    max-height: 500px;
}

#jeu {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #D8B256;
}


#slogan {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background-color: #629364;
}

body {

    font-family: 'Noto Sans', sans-serif;
}

section {
    padding-top: 5rem;
    padding-bottom: 0rem;
    text-align: center;
}


/*****textes*****/


.intro {

    padding-bottom: 4rem;
    margin: auto;
    text-align: center;
}

#intro h1 {
    color: black;
    font-size: 70px;
}

#intro h2 {
    margin: auto;
    color: black;
    font-family: sans-serif;
    padding-bottom: 5rem;

}

#a_propos h1 {
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    margin-bottom: 1rem;
}

#a_propos h2 {
    margin: auto;
    color: white;
    font-family: sans-serif;
    padding-top: 1rem;
}

#a_propos p {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 1rem;
    font-size: 15px;
    color: white;
}

#services_pour_entreprises h1 {
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    margin-bottom: 2rem;
}

#services_pour_entreprises h2 {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    padding-top: 1rem;
}

#services_pour_entreprises p {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 1rem;
    font-size: 15px;
    color: white;
}

#jeu h1 {
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    padding-bottom: 0rem;
}

#jeu h2 {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    padding-top: 1rem;
}

#jeu p {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 1rem;
    font-size: 15px;
    color: white;
}

#slogan h1 {
    color: #D8B256;
    font-family: sans-serif;
    font-size: 50px;
}

/*****page_services*****/

.objet {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-decoration: none;

}

.objet:hover {
    transform: scale(.9);
    text-decoration: none;
}

#contenant h1 {
    color: #0a2444;
    font-size: 70px;
    text-align: center;
    display: block;
    width: 100%;

}

.objet h2 {
    color: white;
    font-size: 25px;
    margin-top: 1rem;
    text-decoration: none;

}

.objet p {
    color: white;
    font-size: 15px;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-decoration: none;
}


.objet {
    width: 400px;
    height: 400px;
    margin: 2rem;
    background-color: #0a2444;
    padding: 3rem;
    margin-top: 8rem;
    margin-bottom: 7rem;


    display: inline-block;
}

.animateurs {
    padding-top: 20rem;
    padding-bottom: 4rem;
    margin: auto;
    text-align: center;
}

#animateurs {
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-color: #7FA6A5;
}

#animateurs h1 {
    margin: auto;
    color: white;
    font-family: sans-serif;
    padding-top: 1rem;
    font-size: 12px;
    text-align: center;

}

#animateurs h2 {
    margin: auto;
    color: white;
    font-family: sans-serif;
    padding-top: 5rem
}

#animateurs p {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 1rem;
    font-size: 15px;
    color: white;

}

#sur_mesure {
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-color: #6d9168;
}

.sur_mesure {

    padding-top: 20rem;
    padding-bottom: 4rem;
    margin: auto;
    text-align: center;
}

#sur_mesure h1 {
    margin: auto;
    color: white;
    font-family: sans-serif;
    padding-top: 1rem;
    font-size: 12px;
    text-align: center;
}


#sur_mesure h2 {
    margin: auto;
    color: white;
    font-family: sans-serif;
    padding-top: 5rem
}

#sur_mesure p {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 1rem;
    font-size: 15px;
    color: white;
}


#collaboration {
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-color: #D8B256;

}

#collaboration h1 {
    margin: auto;
    color: white;
    font-family: sans-serif;
    padding-top: 1rem;
    font-size: 12px;
    text-align: center;
}

#collaboration h2 {
    margin: auto;
    color: white;
    font-family: sans-serif;
    padding-top: 5rem
}


#collaboration p {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 1rem;
    font-size: 15px;
    color: white;
}

/*****jeux*****/

#jouer {
    padding-top: 5rem;
    padding-bottom: 4rem;
    margin: auto;
    text-align: center;
    background-color: #fef9ff;
}

#jouer h1 {
    color: #DD4C49;
    font-family: sans-serif;
    font-size: 50px;
}

#jouer h2 {
    color: #DD4C49;
    font-family: sans-serif;
    font-size: 25px;
    padding-top: 1rem;
}

#jouer p {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 1rem;
    font-size: 15px;
    color: #DD4C49;
}

/*****demande de prix*****/



/*****contact*****/


#contact {
    display: inline-block;
    width: 40%;
    margin-bottom: 12rem;
    margin-left: 8rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    font-size: 15px;
}

#contact h1 {
    color: #000000;
    font-family: sans-serif;
    font-size: 50px;

    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 30px;
    text-align: left;
}

#contact h2 {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 1rem;
    text-align: left;
}

#contact p {
    color: #000000;
    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 15px;
    text-align: left;

}

/*****medias_sociaux*****/

.medias_sociaux a {

    display: inline-block;
    margin: auto;
    padding: 2rem;
    text-decoration: none;
}

.medias_sociaux a:hover {
    transform: scale(.9);
    text-decoration: none;
}

.formulaire {
    display: inline-block;
    width: 40%;
    text-align: left;
    padding-left: 8rem;
    margin-top: 10rem;
}

input {
    display: block;
    margin-top: .1rem;
    padding-right: 7rem;
}

textarea {

    margin-top: .5rem;

}

label {
    font-size: 0.7rem;
    font-family: sans-serif;
    color: darkgrey;

}




/******footer*****/


footer {
    color: white;
    text-align: left;
    font-size: 10px;
    background-color: rgba(127, 166, 165, 0.54);
    padding: 1rem 2rem;
}
