/*********** RESET ***********/
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    /*Ne fonctionne que sur Chrome, Firefox et Opera*/
}

section {
    overflow: hidden;
    /*  Un petit "hack" pour empêcher les marges de vos éléments de dépasser la section  */
}




/*********** ACCUEIL ***********/
main {
    width: 100%;
    min-height: calc(100vh - 7.8rem);
    margin-top: 0px;
    text-align: center;
    display: block;
}



.gros_titre {
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: 1px 10px 1.5px rgba(0, 0, 0, 0.91);
}

.santamonica_rond {
    width: 30%;
    transition: all 0.2s ease-out;

}

.santamonica_rond:hover {
    width: 30%;
    transition: all 0.2s ease-out;
    transform: scale(1.1);

}

.hollywood_rond {
    width: 30%;
    transition: all 0.2s ease-out;

}

.hollywood_rond:hover {
    width: 30%;
    transition: all 0.2s ease-out;
    transform: scale(1.1);
}

.beverly_rond {
    width: 30%;
    transition: all 0.2s ease-out;

}

.beverly_rond:hover {
    width: 30%;
    transition: all 0.2s ease-out;
    transform: scale(1.1);


}

.accueil {
    background-image: url(Los-angeles.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 100px);
    backdrop-filter: blur(2px);
    display: block;


}

#nav_index {

    padding: 25px;
}

/*********** NAVIGATION ***********/
nav {
    top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(10px);

}

nav:hover {
    transition: all 0.2s ease;
    transform: scale(1.05);
}

#logo {
    width: 4em;
}

#logo:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.1);
    transform: rotate(360deg);
}

/*********** TEXTES ***********/
h1 {
    margin-top: 150px;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    font-size: 6em;
    color: rgb(255, 255, 255);
    text-shadow: 1px 10px 1.5px rgba(0, 0, 0, 0.91);
}

h1:hover {
    color: #ff9b27;
    transition: all 0.5s ease-out;
    transform: scale(1.);
}

h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-decoration: underline;
}

h3 {
    margin-bottom: 20px;
    font-size: 0.9em;
    font-weight: 600
}

/*********** VIDEO YOUTUBE ***********/
.video {
    margin: auto;
}

/*********** HOLLYWOOD ***********/

.bouton {

    display: inline-block;
    background-image: url(hollywood_bouton.jpeg);
    background-size: 190%;
    height: 400px;
    width: 400px;
    border-radius: 60%;
    border: 8px solid #ffffff;
    position: absolute;
    font-family: 'Pattaya', sans-serif;
    color: white;
    font-size: 1.6em;
    text-shadow: 1px 5px 1.5px rgba(0, 0, 0, 0.91);
    left: 21em;
    top: 26em;




}

.bouton:hover {
    transition: all 0.6s ease-out;
    transform: scale(1.1);
    transform: rotate(360deg);

}


a {
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5em;
    color: white;
    margin: 15px;
}

a:hover {
    color: #ff9b27;
}

.images_histoire_holly {
    position: absolute;
    top: 250px;
    padding-top: 1.5em;
    width: 44%;
    left: 90px;
    transition: all 0.5s ease;


}

.images_histoire_holly:hover {
    transition: all 0.5s ease-out;
    transform: scale(1.07);
}

#histoire_holly {
    background-image: url(hollywood_sign_histoire.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: calc(100vh - 100px);
    background-attachment: fixed;

}

.histoire_article_holly {
    margin-top: 5em;
    margin-left: 50em;
    max-width: 40%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3em;
    text-align: justify;
    color: #343434;
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}


#activités_holly {
    background-image: url(hollywood_activites.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: calc(100vh - 100px);
    background-attachment: fixed;

}

.activités_article_holly {
    margin-left: 8em;
    margin-top: 5em;
    width: auto;
    max-width: 33%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3em;
    text-align: justify;
    color: #343434;
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease-out;
}

#page_video_holly {
    background-image: url(hollywood_video.jpg);
    background-size: cover;
    min-height: 92vh;
    width: 100%;
    height: calc(100vh - 100px);
    background-attachment: fixed;
    display: flex;
}


/*********** BEVERLY HILLS ***********/

.bouton_bh {

    display: inline-block;
    background-image: url(beverlyhills_bouton.jpg);
    background-size: 190%;
    height: 400px;
    width: 400px;
    border-radius: 60%;
    border: 8px solid #ffffff;
    position: absolute;
    font-family: 'Pattaya', sans-serif;
    color: white;
    font-size: 1.6em;
    text-shadow: 1px 5px 1.5px rgba(0, 0, 0, 0.91);
    left: 5em;
    top: 27em;

}

.bouton_bh:hover {
    transition: all 0.6s ease-out;
    transform: scale(1.1);
    transform: rotate(360deg);

}

#histoire_BH {
    background-image: url(beverlyhills_histoire.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: calc(100vh - 100px);
    background-attachment: fixed;

}

.histoire_article_bh {
    margin-left: 100px;
    margin-top: 90px;
    max-width: 40%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3em;
    text-align: justify;
    color: #343434;
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}

.images_histoire_bh {
    position: absolute;
    top: 295px;
    padding-top: 1.5em;
    width: 46%;
    left: 710px;
    transition: all 0.5s ease-out;

}

.images_histoire_bh:hover {
    transition: all 0.5s ease-out;
    transform: scale(1.07);
}

#activités_BH {
    background-image: url(beverlyhills_activites.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: calc(100vh - 100px);
    background-attachment: fixed;

}

.activités_article_bh {
    margin-left: 48em;
    margin-top: 9.5em;
    width: auto;
    max-width: 33%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3em;
    text-align: justify;
    color: #343434;
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}

#page_video_BH {
    background-image: url(beverlyhills_video.jpg);
    background-size: cover;
    min-height: 92vh;
    width: 100%;
    height: calc(100vh - 100px);
    background-attachment: fixed;
    display: flex;

}

/*********** SANTA MONICA ***********/

.bouton_sm {

    display: inline-block;
    background-image: url(SantaMonica_bouton.jpeg);
    background-size: 190%;
    height: 400px;
    width: 400px;
    border-radius: 60%;
    border: 8px solid #ffffff;
    position: absolute;
    font-family: 'Pattaya', sans-serif;
    color: white;
    font-size: 1.6em;
    text-shadow: 1px 5px 1.5px rgba(0, 0, 0, 0.91);
    left: 21em;
    top: 26em;
}

.bouton_sm:hover {
    transition: all 0.6s ease-out;
    transform: scale(1.1);
    transform: rotate(360deg);

}


#activités_sm {
    background-image: url(santa-monica-activite);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: calc(100vh - 100px);
    background-attachment: fixed;
}

.activités_article_sm {
    margin-left: 8em;
    margin-top: 5em;
    width: auto;
    max-width: 33%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3em;
    text-align: justify;
    color: #343434;
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease-out;
}


#histoire_sm {
    background-image: url(santamonica_histoire);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: calc(100vh - 100px);
    background-attachment: fixed;

}

.histoire_article_sm {
    margin-top: 5em;
    margin-left: 49em;
    max-width: 40%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3em;
    text-align: justify;
    color: #343434;
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}

.images_histoire_sm {
    position: absolute;
    top: 250px;
    padding-top: 1.5em;
    width: 43%;
    left: 90px;
    transition: all 0.5s ease;


}

.images_histoire_sm:hover {
    transition: all 0.5s ease-out;
    transform: scale(1.07);
}

#page_video_sm {
    background-image: url(Santamonica_video);
    background-size: cover;
    min-height: 92vh;
    width: 100%;
    height: calc(100vh - 100px);
    background-attachment: fixed;
    display: flex;

}

/*********** FOOTER ***********/

footer {
    padding: 1.2em;
    background-color: #1d1d1d;
    text-align: center;
    font-size: 1.4em;
    color: #fff8eb;
    font-family: 'Pattaya', sans-serif;
    width: 100%;


}

footer a {
    margin-left: 5em;
    font-family: 'Pattaya', sans-serif;
    text-decoration: none;
    font-size: 1em;

}
