* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;

}


header {
    background-color: black;
    font-size: 1 rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding-right: 0.8rem;
}

#accueil {
    background-image: url(Image/doigt_peinture.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 85vh;

}

#contact {
    background-image: url(Image/main_colorer.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 85vh;

}

#contact p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 10rem;
}

#contact a {
    color: white;
}

#contact a:hover {
    color: #00ffff;
}


.menu {
    font-family: 'Montserrat', sans-serif;

}

.menu:hover {
    color: #00ffff;
    transform: scale(1.5);
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 15rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    color: white;
}

p {
    font-size: 2rem;
    text-align: end;
    padding-right: 12rem;
    color: white;
}

.social {
    position: fixed;
    top: calc(50% - 5rem);
    /*    transform: translate(0,-50%);*/
    left: 2%;
    z-index: 900;

}

.social a {
    margin-top: 1rem;
    display: block;

}

.social a:hover {
    transform: scale(1.5);

}

.social img {
    height: 1.5rem;
    filter: invert();
}

img {
    max-width: 100%;
}

.contenant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-between;
    background-color: black;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

article {

    text-align: center;
}

.image {
    width: 300px;
    height: 300px;
    padding: 1rem;
    display: inline-block;

}

#service {
    top: 0;
    left: 0;
    height: 0vh;
}

#service_perso {
    background-image: url(Image/objet_peinture.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 85vh;

}

#service_perso h2 {
    padding-top: 5rem;
    text-align-last: center;
    color: white;
    font-size: 3rem;

}

#service_perso a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

#service_perso a:hover {
    color: #ffffff;
    transform: scale(1.5);

}

#service_perso p {
    text-align-last: center;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

#service_live {
    background-image: url(Image/live_painting.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 85vh;

}

#service_live h2 {
    padding-top: 5rem;
    text-align-last: center;
    color: white;
    font-size: 3rem;

}

#service_live a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

#service_live a:hover {
    color: #ffffff;
    transform: scale(1.5);

}

#service_live p {
    text-align-last: center;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

#service_boutique {
    background-image: url(Image/peintre_action.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 85vh;

}

#service_boutique h2 {
    padding-top: 14rem;
    padding-bottom: 2rem;
    text-align-last: center;
    color: white;
    font-size: 3rem;

}

#service_boutique a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

#service_boutique a:hover {
    color: #ffffff;
    transform: scale(1.5);

}

.bouton {
    display: inline-block;
    background-color: white;
    padding: 1rem 1.5rem;
    font-family: 'Montserrat', sans-serif;

}

.bouton:hover {
    background-color: black;
    color: white;
}

#artiste {
    background-image: url(Image/guilbo.jpg);
    background-position: center;
    background-attachment: fixed;

}

#artiste p {
    text-align-last: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 15rem;
    padding-right: 15rem
}

footer {
    background-color: black;
    color: white;
    padding: 2rem;
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    color: #ff648e;
    text-decoration: none;

}

footer a:hover {
    color: #00ffff;
}
