* {
    margin: 0;
    box-sizing: border-box;
}


body {

    font-family: sans-serif;
}

article::after {
  content: "";
  clear: both;
  display: table;
}
header {
    padding: 80px 40px;
    background-image: url(image/pexels-pixabay-161599.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    max-height: 100vh;
    text-align: center;
    color: #222222;

}

.logo {
    width: 549px;
    margin: auto;
}

#logo {
    width: 300px;
    display: inline-block;
    align-items: baseline;
}

nav {
    margin-top: 50px;
}

nav a {
    margin: 4%;
    text-decoration: none;
    color: black;
    padding: 5px;

}

nav a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.bouton {
    display: inline-block;
    margin-top: 10rem;
    background-color: rgba(227, 182, 158, 0.87);
    padding: 30px 60px 30px 60px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Merriweather', serif
}

.bouton:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}


.bouton:active {
    color: red;


}


main {
    background-color: rgba(239, 224, 216, 0.87);
    padding: 40px 0;

}

h2 {
    text-align: center;
    margin: 50px;
    font-family: 'Merriweather', serif;
    font-size: 2rem;


}


section {
    background-color: rgba(227, 182, 158, 0.63);
    padding: 20px;
    margin: auto;
    min-height: 40rem;
    width: 75%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);

}


video {
    display: inline-block;
    width: 28%;
    margin-right: 30px;
    float: left;
    margin-bottom: 20px;
}

article p {
    margin-top: 50px;
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;

}

.categorie {
   margin:20px 10px 10px 20px;
   
}



.produit {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

img {
    width: 40%;
    border-radius: 5%;
    height: 5%;
    

}

.gauche {
    margin: 20px;
}

.droite {
    margin: 20px;
}

.acheter {

    margin-top: 3rem;
    background-color: rgba(227, 182, 158, 0.87);
    padding: 20px 60px 20px 60px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}


.acheter:hover {
    transform: scale(1.05);
}


h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
    display: inline-block;


}

#produit {
    display: block;
    align-content: center;
    float: left;
}

#apropos {
    float: left;
    margin-right: 15px;
}

#bienetre {
    padding-top: 3px;

}



.boite {
    display: block;
    margin-top: 20px;
    box-decoration-break: slice;
    padding: 5px;
    background-color: white;
    color: gainsboro;



}

.boite:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
    color: #c7c7c7;


}



.boite2 {
    display: block;
    margin-top: 20px;
    background-color: white;
    padding: 5px;
    height: 300px;
    color: #c7c7c7;
    font-family: 'Quicksand', sans-serif;
}

.boite:active {
    cursor: pointer;

}

.boite2:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
}

.boite2:active {
    cursor: pointer;
}

#fond {
    background: url(image/lavande.jpg);
    background-position: center;
    background-size: cover;

}

footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;

}
