/*** RESET ***/
* {
    margin: 0;
    box-sizing: border-box;
}

/*** ----- Général ----- ***/

body{
    overflow-x: hidden; /*Anghelos*/
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
    margin: 0.5em;
}

/*** ----- En-tête ----- ***/
header {
    padding: 10px;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
    position: absolute;
    color: white;
    margin: auto;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    
}


nav {
    float: right;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

nav a {

    text-decoration: none;
    font-size: 1.2em;
    margin-top: 1em;
    margin-right: 2em;
    color: white;
    margin-left: 1.5em;

}

nav a:hover {
    background-color: rgba(255, 186, 0, 0.48);

}

.intro {
    background-image: url(images/daiga-ellaby-699192-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-size: 1em;
    padding-top: 400px;
    padding-bottom: 300px;
    height: 100vh;

}

#arrow {
    position: sticky;
    top: 0;
    float: right;



}

.vegan {
    background-image: url(images/pineapple-supply-co-79711-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-size: 1em;
    padding-top: 300px;
    padding-bottom: 300px;




}

.team {
    background-color: rgb(216, 245, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-size: 1em;
    padding-top: 50px;
    padding-bottom: 300px;




}

.text-team {
    color: black;


}

.members{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

img {
    border-radius: 3%;
    margin: 1em;
}

#owner {
    position: static;
}

#magenta {
    position: relative;
    left: 450px;
    top: 200px:
}

#turquoise {
    position: relative;

}

#pink {
    position: relative;
    left: 450px;
    top: 150px:
}


#red {
    position: static;
}


.salon {
    background-image: url(images/sharon-mccutcheon-526414-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-size: 1em;
    padding-top: 300px;
    padding-bottom: 300px;




}

a{
    text-decoration: none;
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
    margin-left: 1em;

}


.shop {
    background-image: url(images/6Sanstitre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-size: 1em;
    padding-top: 300px;
    padding-bottom: 300px;




}

#cart {
    margin-left: 200px;
}


#door {
    margin-left: 10%;

    
}




article {
    font-size: 2.5em;
    text-align: center;
    color: #333333;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 1.5em;
    margin: 1em;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

p {
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    color: #000000;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    width:700px;
}
