* {
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: 'Lobster', cursive;
    height: 100%;
}


header {
    background-color: #FCCB05;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position: sticky;
    top: 0;
}

header img {
    height: 50px;
    width: 50px;
}

nav {
    font-family: 'Poppins', sans-serif;
}

nav a {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    text-align: center;
}

/*
.contactAdress {
    color:indianred
}
*/

p a {
    color:indianred
}
a:hover {
    color: lightblue
}

header a {
    color: black;
}

article {
    margin: auto;
    background-color: white;    
    width: 60vw;
    padding: 40px;
}

article p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    text-align: left
}

article img {
    width: 17rem;
}

article h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

article ul {
    color: black;
}

article a,
h3 {
    color: lightgray
}

section {
    text-align: center;
    height: 100%;
    background-color: #DBB79D;
    background-image: url(Images/montagne.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 100px;
    color: white;
}

section h2 {
    color:black;
    font-size: 32px;
}

section h1{
    font-size: 50px;
    color: black
}

.video-with-background {
    background-image: url(images_optimisees/FantasticMrFox_Fond.jpg);
    background-repeat: no-repeat;
    padding:80px;
    background-size: 100% 100%;
}

.video-no-background {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 80%;
}

.text-column {
    padding: 10px;
}

.text-column p {
    text-align: left;
    padding-left: 10px;
}

.picture-column p {
    text-align: left;
    padding: 10px;
}

.picture-column img {
    padding:10px;
}

footer {
    background-color: #CE5C3A;
    color: white;
    text-align: center;
    padding: 30px;
    height: 100%;
    font-family: "Poppins", sans-serif;
}
