/*------------------------------------
    Reset
-------------------------------------- */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------
    Typographique
--------------------------------------

font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

/*------------------------------------
    Base
-------------------------------------- */

body {

    background-color: #69779B;

    font-family: 'Montserrat', sans-serif;
    color: #010101;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #010101;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.4s;
}

a:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px black;
}

p {
    line-height: 1.5;
    color: aliceblue;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    color: #f7f7f7;
    text-shadow: 0px 0px 10px black
}


/*------------------------------------
    Mise en page
-------------------------------------- */

.wrapper {
    width: 1080px;
    margin: auto;
}

/*------------------------------------
    Modules
-------------------------------------- */

/*--Entête--*/


.flex-header {
    background-color: #010101;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 250px;

    padding: 20px 0;
    order: 1;
}

.nav-principale ul {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

}

.nav-principale li {
    margin-left: 15px;
}

/*-----------Contenue----------------*/

/*--Banniere--*/

.banniere {
    background-image: url(/images/voyage/ZoneHero.jpg);
    background-attachment : fixed;
}

.flex-banniere {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 800px;
}

/*--article--*/

article {
    background-size: cover;
    border-radius: 20px;
    box-shadow: inset 0px 0px 50px black;
    transition: 0.4s;
}

div.article article:hover{
    box-shadow: inset 0px 0px 10px black;
    transform: scale(1.05);
}

.flex-contenu {
    display: inline-flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
.flex-contenu article {
    width: 300px;
    padding: 15px;
    order: 2;
}

#indo {
    background-image: url(/images/voyage/plage.jpg);
}

#eau {
    background-image: url(/images/voyage/eau.jpg);
}

#europe {
    background-image: url(/images/voyage/europe.jpg);
}

#greece {
    background-image: url(/images/voyage/greece.jpg);
}

#aire {
    background-image: url(/images/voyage/aire.jpg);
}

#soleil {
    background-image: url(/images/voyage/plage2.jpg);
}

#bati {
    width: 579px;
    height: 385px;
}

/*--apropos--*/

#apropos, #apropos1, #apropos2{
    margin-top: 90px;
    width: auto;
    height: 573px;
    
}
#apropos1{
    background-image: url(/images/voyage/bati.jpg)
}

#apropos2{
    background-image: url(/images/voyage/aire.jpg)
}

/*--------------Carousel--------------*/

#Équipe {
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
}

.swiper-container {
    margin-top: 50px;
    border-radius: 200px;
}

.swiper-slide {
    background-color: #010101;
    border-radius: 20px;
    height: 350px;
    background-position: center;
    box-shadow: inset 0px 0px 50px black;
    
    text-align: center;
    
    transition: 0.4s;
}

.swiper-slide:hover{
    box-shadow: inset 0px 0px 10px black;
    transform: scale(1.05);
}

.swiper-pagination-bullet-active {
    background: #69779B;
}

.p1{
    background-image: url(/images/personne/p1.jpg)
}

.p2{
    background-image: url(/images/personne/p2.jpg)
}
.p3{
    background-image: url(/images/personne/p3.jpg)
}
.p4{
    background-image: url(/images/personne/p4.jpg)
}
.p5{
    background-image: url(/images/personne/p5.jpg)
}

h4{
    
}
/*--Footer--*/

footer {
    background-color: #010101;
    color: aliceblue;
}

footer .espace {
    padding: 15px 0;
}
#fleche{
        transition: 0.4s;
}

#fleche:hover{
    transform: rotate(360deg);
}