{

    margin: 0;
    box-sizing: border-box;
}

head {
    font-family: 'didot', serif;
}

header {
    background-color: #000000;
    text-align: center;
    font-family: 'didot', serif;
    font-size: 0.9rem;
    padding-top: 10px;
}


nav a {
    color: white;
    margin: 32px;
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 3rem;
    transition: all 0.2s ease;
}
nav :hover {
    color: gold;
    font-size: 1.2rem;
    font-size: 1.2rem;
    line-height: 3rem;
    transition: all 0.5s ease;
}
body {
    font-family: 'roboto', helvetica, sans-serif;
    background-color: #000000;
}

section {
    color: rgb(0, 90, 235);
    padding-top: 150px;
    padding-bottom: 400px;
    text-align: center;
    background-image: url(images/Eiffel.png);
    background-size: 1200px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.5rem;
}

#arc {
    background-image: url(images/Arc.png);
}

#gastronomie {
    background-image: url(images/Gastronomie.png);
}

#montmartre {
    background-image: url(images/montmartre.png);
}

#Louvre {
    background-image: url(images/Louvre.png);
}

#moulin {
    background-image: url(images/moulin.png);
}

#seine {
    background-image: url(images/seine.png);
}


h1 {
    text-align: center;
    font-size: 20rem;
    font-family: Didot,
        serif;
}

p1 {
    color: #ff0000;
    background-color: rgba(255, 204, 204, 0);
    margin-left: 30px;
    border-radius: 0.8em;
    font-size: 2.5rem;
    padding-right: 850px;
    font-family: 'Bitter', didot, serif;
}



article {
    padding-top: 800px;
    margin: auto;
    max-width: 800px;
    padding-top: 120px;
    padding-bottom: 120px;
    box-shadow: 1000px;
}




a:hover {
    color: #0093d4;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}


h2 {
    text-align: center;
    font-family: 'bitter', Didot, serif;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #ffffff;
    letter-spacing: 0.05em;
}


h3 {
    text-align: center;
    text-shadow: 3px 3px #01012f;
    font-family: 'bitter', Didot, serif;
    font-size: 5rem;
    margin-top: 5rem;
    color: #ffffff;
    letter-spacing: 0.05em;
}

article p {
    font-family: 'bitter', didot, serif;
    font-size: 1rem;
    margin-top: 2rem;
    background-size: cover;
    color: #ffffff;
    letter-spacing: 0.06em;
    line-height: 1.3em;
    vertical-align:
}

a {
    text-decoration:underline ;
    color: rgb(255, 0, 0);
}



input,
textarea,
select {
    display: block;
    margin-bottom: 1rem;
    width: 10%;
    padding: 0.2rem;
    border-radius: 2rem;
    border: 1px solid #ff9797;
    padding: 0.4rem 1rem;

    box-shadow: inset -2px -1px 1px rgba(226, 121, 121, 0.1);
}

input[type="radio"] {
    text-align: center;
    display: inline;
    width: 10rem;
    margin: center;

}

input[type="submit"] {
    text-align: center;
    width: 10rem;
    margin: auto;
}



Form {
    padding: 2rem;
    background-color: #ff5959;
    color: #ffffff;
    background-position: bottom;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 30%;
    background-color: aliceblue;
    border-radius: 15px;
}

Footer {
    text-align: center;
    font-size: 0.8em;
    padding: 2rem;
    background-color: black;
    color: #ffffff;
    background-position: bottom;
}

</style >


