/*********** RESET ***********/
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    /*Ne fonctionne que sur Chrome, Firefox et Opera*/
}

section {
    overflow: hidden;
}

/*********** PAGE 1 - ACCUEIL ***********/

.page_services,
.page_portfolio,
.page_rdv,
.page_contact {
    font-family: 'frank ruhl libre', 'sans-serif';
    background-color: #FFFACD;
}

.page_accueil,
.page_contact,
.page_rdv,
.page_services,
.page_portfolio {
    background-color: white;
}

.logo_menu {
    display: flex;
    justify-content: center;
}

.logo_chopchop {
    max-width: 100%;
    width: 600px;
    opacity: 80%;
    margin: 20px 0px 60px 350px;

}

a {
    text-decoration: none;
}

.tiki_hut {
    max-width: 100%;
    width: 150px;
    margin-right: 290px;
    margin-bottom: 100px;
    opacity: 70%;
    transform: rotate(20deg);
}

section {
    background-position: center;
    background-size: cover;
    text-align: center;
}


.bouton_rdv {
    display: inline-block;
    padding: 2vh;
    margin: 5vh 125vh 0vh 4vh;
    border-radius: 2vh;
    font-size: 1.2em;
    font-family: 'raleway', 'sans-serif';
    color: #FFFACD;
    background-color: #8fbae5;
    animation-duration: 3s;
    animation-name: colorchange;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes colorchange {
    from {
        background-color: #8fbae5;
    }

    to {
        background-color: #FFFACD;

    }
}


.bouton_rdv:hover {
    background-color: #FFFACD;
    color: #86b19a;
    opacity: 20%;
    transition: all 0.5s ease-out;
}

.logo_menu {
    margin-top: 5vh;
}

.menu_nav {
    display: inline-block;
    color: #8fbae5;
    text-decoration: none;
    font-family: 'raleway', 'sans-serif';
    font-size: 1.1rem;
    background-color: #ffe4b2;
    margin: 60px 25px 5px 20px;
    padding: 10px 3px 10px 3px;
    border-radius: 35px;
    width: 128px;
    height: 70px;
    line-height: 3rem;
}

.menu_nav:hover {
    background-color: #FFFACD;
    opacity: 20%;
    transition: all 0.5s ease-out;
}

.prg_accueil {
    text-align: left;
    margin: 0 9vh 8vh 0vh;
    padding: 5vh;
    background-color: #86b19a;
    border-radius: 30px;
    font-family: 'frank ruhl libre', 'sans-serif';
    font-size: 1rem;
    max-width: 100%;
    width: 800px;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
}

p {
    margin: 15px;
}

.sous_prg {
    font-size: 13px;
    margin-left: 50px;
    margin-top: 45px;
    text-align: right;
}

.ciseaux_magane,
.salon_coiffure {
    display: inline-block;
    vertical-align: middle;
}

.ciseaux_magane {
    margin: 8vh 15vh 5vh 15vh;
    opacity: 70%;
    max-width: 100%;
    width: 250px;
}

.salon_coiffure {
    padding: 30px;
    font-family: 'raleway', 'sans-serif';
    font-size: 1.2rem;
    color: #bfcfe0;
}

.salon_coiffure:hover {
    background-color: #f7d7bc;
    border-radius: 20px;
    color: #FFFACD;
}

.bbgrl_tiki {
    max-width: 100%;
    width: 300px;
    margin-bottom: 5vh;
}

.accueil_couleur,
.contact_couleur,
.services_couleur,
.rdv_couleur,
.portfolio_couleur {
    background-color: #FFFACD;
    border-radius: 20px;
    margin: 20px 30px 20px 30px;
}

header {
    background-color: #FFFACD;
    height: 600px;
    margin: 20px 30px 0px 30px;
    border-radius: 20px;
}

.lien_texte,
.lien_ecole,
.lien_texte_rdv {
    color: #FFFACD;
    text-decoration: underline;
}


/*********** PAGE 2 - SERVICES ***********/


.liste_services {
    display: flex;
    justify-content: center;
}

.services_titre {
    background-image: url(image/services_beach.jpg);
    background-position: right;
    opacity: 80%;
    border-radius: 800px;
    padding: 15vh;
    font-family: 'fugaz one', 'sans-serif';
    font-size: 3.5rem;
    color: #FFFACD;
    margin-top: 6vh;
    margin-right: 10vh;
    height: 360px
}

h2 {

    color: #f5d290;
    font-family: 'raleway';
}

.services_liste_precise {
    margin: 3vh 0vh 0vh 2vh;
    font-family: 'raleway', 'sans-serif';
    font-size: 1rem;
    color: #6291c0;
    line-height: 6vh;
    text-align: left;

}

.services_liste_prix {
    margin: 3vh 0 0vh 13vh;
    font-family: 'raleway', 'sans-serif';
    font-size: 1rem;
    color: #79a58e;
    line-height: 6vh;
    background-color: #ffefd1;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
}

.separateur {
    background-color: #79a58e;
    padding: 2px;
    margin: 25px 350px 20px 350px;
}

.services_photos_exemples {
    margin-top: 10vh;
}

.hair_aqua {
    margin-bottom: 10vh;
    opacity: 85%;
}



/*********** PAGE 3 - PORTFOLIO ***********/

.photo_portfolio1,
.photo_portfolio2 {
    display: flex;
    justify-content: space-between;
    margin-right: 30vh;
    margin-left: 30vh;
    margin-bottom: 5vh;
}

.photo_portfolio1 {
    margin-top: 5vh;
    margin-bottom: 8vh;
}

/*********** PAGE 4 - RENDEZ-VOUS ***********/

.bouton_reservation {
    display: inline-block;
    padding: 1rem;
    border-radius: 2vh;
    font-size: 1.4em;
    font-family: 'raleway', 'sans-serif';
    color: #FFFACD;
    background-color: #8fbae5;
    text-align: center;
    line-height: 4vh;
    width: 270px;
    margin: 10vh 0vh 2vh 16%;
    transform: translateX(-50%);
}

.ICI {
    margin-top: 3vh;
    font-size: 4rem;
}

.bouton_reservation h1 {
    margin-bottom: 3vh;
}

.horaire {
    display: flex;
    justify-content: center;

}

.horaire_jour {
    margin: 5px 45px 30px 42px;
    font-family: 'raleway', 'sans-serif';
    font-size: 1rem;
    color: #8fbae5;
    line-height: 2vh;
    text-align: left;
}

.horaire_heures {
    margin: 5px 5px 30px 5px;
    font-family: 'raleway', 'sans-serif';
    font-size: 1rem;
    color: #79a58e;
    line-height: 2vh;
}

.map_villeray {
    width: 600px;
    height: 413px;
    border: 20px solid #8fbae5;
    border-radius: 30px;
    margin-left: 50%;
    margin-bottom: 40px;
    transform: translateX(-50%);
}

/*********** PAGE 5 - CONTACT ***********/

.main_contact {
    padding: 3rem;
    border-radius: 2vh;
    font-size: 1.4em;
    font-family: 'raleway', 'sans-serif';
    color: #FFFACD;
    background-color: #8fbae5;
    text-align: center;
    line-height: 3vh;
    width: 470px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10vh;
    margin-top: 3vh;
}

input,
form,
textarea {
    border: none;
    border-radius: 20px;
    font-family: 'raleway', 'sans-serif';
    padding: 10px;
}

.sujet {
    font-size: 1rem;
}

.bouton_envoyer {
    border: none;
    border-radius: 10px;
    font-family: 'raleway', 'sans-serif';
    color: #FFFACD;
    background-color: #4b80b5;
    padding: 10px;
    margin-top: 20px;
}

.contact_photo {
    margin-bottom: 2vh;
    opacity: 70%;
}

.primary {
    padding: 10px;
    margin-top: 10px;
    background-color: #FFFACD;
    color: #4b80b5;
    font-family: 'raleway', 'sans-serif';
    font-size: 1.2rem;
    border: 5px solid #4b80b5;
    border-radius: 30px;
}

/*********** FOOTER ***********/

footer {
    display: flex;
    justify-content: center;
    background-color: #79a58e;
    padding-bottom: 5vh;

}

.menu_nav_footer_ctc,
.menu_nav_footer_rdv,
.menu_nav_footer_srvc {
    display: inline-block;
    margin: 3vh 0vh 0vh -26vh;
    padding: 2vh;
    border-radius: 2vh;
    font-family: 'raleway', 'sans-serif';
    font-size: 1.2rem;
    color: #6291c0;
    background-color: #f7e9ba;
}


.social_media_fcbk,
.social_media_ig {
    display: inline-block;
    justify-content: center;
}

.ig {
    margin-top: 6vh;
    margin-left: 20vh;
}

.fcbk {
    margin-top: 6vh;
    margin-left: 21vh;
}

.menu_telephone,
.menu_nav_footer_courriel {
    display: block;
    margin: 3vh 0 0 26vh;
    width: 2vh;
    font-family: 'raleway', 'sans-serif';
    font-size: 1.2rem;
    color: #b7d1ea;
    line-height: 5vh;
}

.courriel {
    color: #b7d1ea;
    text-decoration: underline;
}

/*********** HOVER website wide ***********/

.lien_texte:hover,
.lien_ecole:hover,
.lien_texte_rdv:hover,
.menu_nav_footer_ctc:hover,
.menu_nav_footer_rdv:hover,
.menu_nav_footer_srvc:hover,
.menu_nav_footer_fcbk:hover,
.menu_nav_footer_ig:hover,
.menu_nav_footer_courriel:hover,
.bouton_reservation:hover,
.map_villeray:hover,
.primary:hover {
    opacity: 20%;
    transition: all 0.5s ease-out;
}
