/*** RESET ***/
* {
    margin: 0;
    box-sizing: border-box;
}

/*** ----- Général ----- ***/

body {
    font-family: 'Quicksand', sans-serif;
}

/*** ----- Body ----- ***/

.image_index {
    background-image: url(_Images/Image_accueil.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    height: 100vh;
}

#logo {
    z-index: 10000;
    width: 2em;
    height: 2em;
    margin-left: 1em;
    background-image: url(_Logos/logo_.svg);
}

#logo:hover {
    background-image: url(_Logos/logo_hover.svg);
}

header {
    padding: 15px;
}

/*** ----- Navigation ----- ***/
nav {
    float: right;
    position: relative;
    z-index: 1;
    font-family: 'Monoton', cursive;
    font-size: .5em;
    margin-top: 1em;
    margin-right: 2em;
}

.lien_menu {
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 1.7em;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 1.5em;
}

.lien_menu:hover {
    border-bottom: 2px solid #c9226a;
}

/*** ----- Main ----- ***/


/* Style pour la page d'accueil */
.split {
    height: 100%;
    width: 60%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.right {
    right: 0;
    background-color: #ffffff;
}

.centered {
    font-family: 'Monoton', cursive;
    font-size: 4.5em;
    color: black;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: url(_Images/Image_accueil.jpg);
    color: transparent;
    -webkit-background-clip: text;
    background-position: top;
    background-size: 150%;
    background-repeat: no-repeat;
}

#plus {
    color: black;
    text-decoration: none;
}

hr.style-hr {
    border: 0;
    height: 2px;
    width: 80%;
    background: #333;
}


/* Style pour la page artiste */

#logo_2 {
    margin-top: 50px;
    margin-left: 300px;
}

#titre_1 {
    margin-bottom: 10px;
}

.slice_left {
    top: 0;
    float: left;
    width: 33%;
    position: fixed;
    overflow-y: hidden;
    background-attachment: fixed;
    height: 100vh;
    width: auto;
    z-index: -1;
}

.slice_right {
    float: right;
    width: 50%;
    position: relative;
    height: 100vh;
    text-align: justify;
}

article {
    margin-top: 40px;
    margin-right: 75px;
}

/* Style pour la page contacts */

#GIF {
    margin-top: 20px;
    margin-left: 85px;
    margin-right: auto;
    width: 40em
}

div.vertical-line {
    width: 10px;
    position: absolute;
    background-color: silver;
    width: 10px;
    height: 100%;
    float: left;
    border: 2px ridge silver;
    border-radius: 1px;
    top: 91px;
    bottom: 0px;
    left: 50%;
}

#right_main ul#CONTACTS {
    height: 125px;
    width: 350px;
    overflow: hidden;
    margin-bottom: 25px;
    margin-right: 25px;
    position: relative;
}

#CONTACTS li {
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 8px;
    right: 16px;
}

#CONTACTS li#Facebook {
    list-style-image: url(_Logos/_Facebook.svg);
    list-style-position: outside;
}

#CONTACTS li#Twitter {
    list-style-image: url(_Logos/_Twitter.svg);
    list-style-position: outside;
}

#CONTACTS li#Youtube {
    list-style-image: url(_Logos/_Youtube.svg);
    list-style-position: outside;
}

#CONTACTS li#Instagram {
    list-style-image: url(_Logos/_Instagram.svg);
    list-style-position: outside;
}

.lien_contacts {
    font-weight: 700;
    color: black;
    text-decoration: none;
}

/*** ----- Footer ----- ***/

footer {
    color: #ade8bf;
    font-weight: 700;
    opacity: 0.7;
    font-size: 0.8em;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1.5em;
    left: 0;
}
