* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color:rgba(205,175,115,.35);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.25rem 0rem;
    background-color:rgba(255,255,255,.60);
    text-align: center;
    z-index: 100;
    
}

nav a{
    display: inline-block;
    margin: 0 5%;
    padding: 0rem .5rem;
    
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: rgb(10 90 110);
    padding-bottom: .1rem;
    border-top: .25rem  solid black;
    border-bottom: .25rem  solid black;
    border-color: rgb(10 90 110);
    
}

nav a:active{
    color: white;
    border-top: .25rem  solid black;
    border-bottom: .25rem  solid black;
    border-color: white;
}

.entete{
    text-align: center;
    margin: auto;
}


h1{
    font-family: 'Sansita Swashed', cursive;
}

h2{
    font-family: 'Barlow', sans-serif;
    padding-bottom: .75rem;
    font-size: 2rem;
}

h3{
   font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    padding-bottom: .75rem;
    color:rgb(10 90 110);
}

article p{
   font-family: 'Barlow', sans-serif;
    margin-bottom: 1rem;
}


/*partie index*******************************************/

#mainEncadre {
    width: 100%;
    height: 75vh;
    position:relative;
    
    background-image: url("img/test.jpg");
    background-size: cover;
    background-position: center;
}

.bgVideo{
    object-fit:cover;
    width: 100vw;
    height: 75vh;
    position: relative;
    top:0;
    left: 0;
}

#mainEncadre h1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: -3.5rem 0 0 -25%;
    padding-bottom: 1rem;
   
    text-align: center;
    font-size: 7rem;
    line-height: 9rem;
    color: white;
    
    border: 1rem solid white;
}

.secondEncadreA{
    display: inline-block;
    width: 50%;
    padding: 8rem 0;
    
    background-image: url("img/villesMono.jpg");
    background-size: cover;
    background-position: center;
    
    text-align: center;
    color: white;
}

.secondEncadreB{
    display: inline-block;
    width: 50%;
    padding: 8rem 0;
    
    background-image: url("img/journalMono.jpg");
    background-size: cover;
    background-position: center;
    
    text-align: center;
    color: white;
}

.secondEncadreA a{
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
    text-decoration: none;
    color: black;
    
    padding-bottom: .5rem;
    
    border-top: .5rem  solid black;
    border-bottom: .5rem  solid black;
}

.secondEncadreA a:hover{
    color: white;
    border-color: white;
}

.secondEncadreB a{
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
    text-decoration: none;
    color: black;
    
    padding-bottom: .5rem;
    
    border-top: .5rem  solid black;
    border-bottom: .5rem  solid black;
}

.secondEncadreB a:hover{
    color: white;
    border-color: white;
}


/*partie villes*******************************************/

.enteteVilles{
    position: relative;
    padding: 12.5% 0 12.5% 0;
    
    margin-bottom: 36px;
    
    font-size: 5rem;
    text-align: center;
    color: white;
    
    background-image: url("img/villesCouleur.jpg");
    background-size: cover;
    background-position: center;
}

.boiteVilles{
    width: 75%;
    min-width: 25%;
    min-height: 350px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    background-color: white;
}

.lieu{
    display: inline-block;
    position: relative;
    width: 35%;
    min-width: 300px;
    min-height: 350px;
    background-color: rgb(10 90 110);
    padding: 0 30px;
    
    text-align: center;
}

.lieu h1{
    margin-top: 15%;
    font-size: 3rem;
    color: white;
}

.lieu a{
    position: relative;
    top:7%;
    left:0;
    width: 100%;
    display: inline-block;
    
    text-align: center;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    color: rgb(205 175 115);
}

.lieu svg{
    display: block;
    width: 25%;
    margin: auto;
    margin-bottom: 7%;
    fill:white;
}

.lieu svg:hover{
    fill:rgb(205 175 115);
}

.boiteVilles article{
    margin: auto;
    width: 70%;
    min-width: 400px;
    padding: 3em;
    
    background-color: white;
}

.boiteVilles article a{
    text-decoration:none;
    text-transform: uppercase;
    color: darkgrey;
    font-size: .8rem;
}

.boiteVilles article a:visited{
    color:rgb(10 90 110);
}

.boiteVilles article a:hover{
    text-decoration: underline; 
}

.boiteVilles article a:active{
    color:rgb(205 175 115);
}


/*partie journal*******************************************/

.enteteJournal{
    position: relative;
    padding: 12.5% 0 12.5% 0;
    
    margin-bottom: 36px;
    
    font-size: 5rem;
    text-align: center;
    color: white;
    
    background-image: url("img/journalCouleur.jpg");
    background-size: cover;
    background-position:center;
}

.boiteJournal{
    display: flex;
    width: 75%;
    margin: auto;
    margin-bottom: 30px;
    
    position: relative;
}

.date{
    background-color: white;
    background-image: url(img/bgDate.png);
    background-position: bottom;
    background-repeat: no-repeat;

    width: 10%;
    padding:30px;
    margin-right: 5%;
    
    position: relative;
    top:50%;
    
    font-size: 2rem;
    text-align: center;
    
    border-bottom: 1rem solid black;
    border-color: rgb(10 90 110);
}

.date h2:nth-child(2){
    border-top: .5rem dotted black;
    border-color: rgb(10 90 110);
    
    padding-top: .5rem;
}

.page{
    width: 85%;
    min-width: 650px;
 
}

.page h3{
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    
    color:black;
    text-align: center;
    
    border-top: .37rem  solid black;
    border-bottom: .37rem  solid black;
    border-color: rgb(10 90 110);
}

.page p{
    padding: 10px 75px;
    
}


/*partie attractions*******************************************/

.enteteAttractions{
    position: relative;
    padding: 12.5% 0 12.5% 0;
    
    margin-bottom: 36px;
    
    font-size: 5rem;
    text-align: center;
    color: white;
    
    background-image: url("img/attractionsCouleur.jpg");
    background-size: cover;
    background-position: center;
}
.enteteAttractions h3{
    margin-top: .5rem;
    font-size: 4rem;
    color:rgb(205 175 115);
}

.boiteAttractions{
    width: 75%;
    min-width: 25%;
    margin: auto;
    margin-bottom: 30px;
    position: relative
}

.boiteAttractions img{
    min-width: 600px;
    max-height: 400px;
    
    position: relative;
    left: 35%;
    margin-bottom: 2rem;
    
    filter: grayscale(55%)
}

.boiteAttractions article a{
    text-decoration: none;
    text-transform: uppercase;
    color: darkgrey;
    font-size: .8rem;  
}

.boiteAttractions article a:visited{
    color:rgb(10 90 110);
}

.boiteAttractions article a:hover{
    text-decoration: underline; 
}

.boiteAttractions article a:active{
    color:rgb(205 175 115);
}

.boiteAttractions article h1{
    position: absolute;
    top: 50px;
    padding: 1rem 0 1.5rem 2.5rem;
    width: 600px;
  
    color: white;
    font-size: 4.5rem;
    
    border-top: .5rem  solid black;
    border-bottom: .5rem  solid black;
    border-color: white; 
}

.boiteAttractions article p{
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
}


/*partie footer*******************************************/

footer{
    background-color: black;
    padding-right: 2%;
    
    font-family: 'Barlow', sans-serif;
    text-align: right;
    line-height: 3.5rem;
    color: white;
}



