* {
    margin: 0;
    box-sizing: border-box;
}

.logo {
    height: 3vh;
    display: block;
    margin: auto;
    margin-top: 3.5em;
}

body {
    font-family: 'Lato', sans-serif;
}

main {
    width: 80%;
    /*    height: 100vh;*/
    margin: auto;
    padding-top: 1em;
}

nav {
    display: inline-block;
    margin-top: 1em;
    text-align: center;
    width: 100%;
}

nav a {
    margin-left: .75em;
    color: black;
    text-decoration: none;
    padding: .40em;
    border: 1px solid transparent;
}

nav a:hover {
    border: 1px solid;
    color: black;
}

h1 {
    margin-bottom: .40em;
}

p {
    margin-bottom: .70em;
    font-size: 14px
}

footer {
    display: inline-block;
    text-align: center;
    background-color: #f0f0f0;
    width: 100%;
    padding: .5em;
}

footer a {
    margin-left: .75em;
    color: black;
    text-decoration: none;
    font-size: .70em;
}

.logofooter {
    height: 1.8vh;
    display: block;
    margin: auto;
}


/******* page1 *******/


.photo_approche img {
    display: inline-block;
}

.photo_approche {
    margin-top: 3em;
    position: relative;
}

.droite {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-left: 2em;
    max-width: 400px;
    padding-bottom: 3em;
}

.p_approche {
    margin-top: 1em;
}

.photo_accueil {
    background-image: url(images/Acceuil/Photo_principal.jpg);
    height: 85vh;
    background-size: cover;
}

.photo_gauche {
    height: 50vh;
}


/******* page2 *******/

.hovertext{
    position: relative;
}

.hovertext h1{
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    opacity: 0;
}
.hovertext *{
    transition: opacity 0.2s ease-out;
}

.hovertext:hover img{
    opacity: 0.4;
}
.hovertext:hover h1{
    opacity: 1;
}

.titremf {
    padding-top: 3em;
}

.textehaut {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    max-width: 850px;
    padding-bottom: 2em;
}

img {
    max-width: 100%
}

.photogr3 {
    display: inline-block;
    width: 28%;
}

.photomilieu {
    margin-left: 8%;
    margin-right: 8%
}

.toutimg {
    margin-bottom: 2em;
}

.troisphotosmf {
    position: relative;
}

.gauchemf {
    width: 65%;
}

.droitehautmf {
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
}

.droitebasmf {
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;
}

.troisphotosmf2 {
    position: relative;
    text-align: right;
}

.gauchehautmf {
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
}

.gauchebasmf {
    position: absolute;
    width: 30%;
    bottom: 0;
    left: 0;
}

.droitemf {
    width: 65%
}


/******* page3 *******/

.white {
    width: 35%;
    margin: 3em;

}

.whitetexte {
    position: absolute;
    left: 40.5%;
    right: 30%;
    top: 35%;

}

.fond_wh {
    background-color: #f0f0f0;
    background-size: cover;
    margin-bottom: 3em;
    padding-bottom: 1em;
}

.quatrephotos {
    position: relative;
}

.grandgauche {
    width: 65%;
}

.droithaut {
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
}

.droitmilieu {
    position: absolute;
    width: 30%;
    top: 33%;
    right: 0;
}

.droitbas {
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;
}

.quatrephotos2 {
    position: relative;
    text-align: right;
}

.granddroit {
    width: 65%;
}

.gauchehaut {
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
}

.gauchemilieu {
    position: absolute;
    width: 30%;
    top: 33%;
    left: 0;
}

.gauchebas {
    position: absolute;
    width: 30%;
    bottom: 0;
    left: 0;
}

/******* page4 *******/

.tradhouse {
    position: relative;
    margin-top: 3em;
}

.tradhousegauche {
    width: 68%;
}

.tradhousedroit {
    position: absolute;
    width: 29.5%;
    top: 0;
    right: 0;
}

.titreth {
    margin-top: 1.3em;
}

.texteth {
    max-width: 68%;
}

.margep {
    margin-bottom: 4em;
}

.deuxphoto {
    position: relative;
}

.gaucheth {
    width: 65%;
}

.droitth {
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;
}

.ens2 {
    display: inline-block;
    width: 45%;
}

.ens2:first-of-type {
    margin-right: 10%;
}


/******* page5 *******/

.fondcontact {
    position: absolute;
    background-color: #f0f0f0;
    background-size: cover;
    margin-bottom: 3em;
}

.photocontact {
    width: 35%;
    margin-left: 8em;
    margin-bottom: 3em;
    margin-top: 5em;

}

.contacttexte {
    position: absolute;
    left: 52%;
    bottom: 12%;
}

.contactnav {
    display: inline-block;
}

.contactnav a {
    margin-right: 1.5em;
    color: black;
    text-decoration: none;
}

.logomaison{
   width: 5em;
    margin-left: 4.1em;
    margin-bottom: 1em;
}