/*********** RESET ***********/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    background-color: #eee;
}

html {
    scroll-behavior: smooth;
    /*Ne fonctionne que sur Chrome, Firefox et Opera*/
}

#fondecran {
    background-image: url(Images/fondecran.jpg);
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /*  Un petit "hack" pour empêcher les marges de vos éléments de dépasser la section  */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#fondecran div {
    width: 50%;
}

#fondecran .logo-top {
    width: 80%;
    margin: 0 auto;
}

.menu img{
    width: 100px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.internal-title-wrap {
    background-color: rgba(230, 230, 230, 0.8);
    padding: 10px;
}

.internal-title {
    text-align: center;
    color: #b76e79;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border: 2px solid #b76e79;
}

.background-home-div {
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    width: 40%;
    height: 800px;
    padding: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

#mariagediv {
    background-image: url(Images/mariagediv.jpg);
}

#shootingdiv {
    background-image: url(Images/shhotingdiv.jpg);
}

#maternitediv {
    background-image: url(Images/maternitediv.jpg);
}


#eventplannerdiv {
    width: 40%;
    height: 800px;
    border: 2px solid #b76e79;
    color: #b76e79;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#eventplannerdiv p {
    padding: 30px;
    text-align: justify;
}

#eventplannertdiv h2{
    margin-bottom: 30px;
    font-size: 20px;
}

#eventplannerdiv:hover {
    background-color: #b76e79;
    color: #fff;
}

a {
    text-decoration: none;
    color: #b76e79;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    color: #b76e79;
}

.menu .side-left{
    text-align: left;
    width: 33%;
}

.menu .side-right{
    text-align: right;
    width: 33%;
}

.menu .side-left a{
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 5px;
}

.menu .side-left a:hover{
    border: 2px solid #b67e79;
}

.menu nav a{
    margin-left: 15px;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 5px;
}

.menu nav a:hover{
    border: 2px solid #b67e79;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 25px;

}

.main-content-images {
    width: 65%;
}

.main-content-article {
    width: 20%;

}

.main-content-images img {
    width: 100%;
    margin-bottom: 25px;
}

.main-content-article h1 {
    color: #b76e79;
    margin-bottom: 30px;

}

.main-content-article p {
    line-height: 2;
}

.main-shooting {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

.main-shooting-article {
    margin-bottom: 30px;
}

.main-shooting-article h1 {
    color: #b76e79;
    margin-bottom: 30px;
}
.main-shooting-article p{
    line-height: 2;
    
}
.main-shooting-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-shooting-images img{
    width: 45%;
    margin-bottom: 35px;  
}

footer{
    background-color: #eed5db;
    color:#b76e79;
    text-align: center;
    padding: 25px;
}  

footer h2 {
    font-size: 25px;
    margin-bottom: 15px;
}        

footer p {
    font-size: 18px;
    margin-bottom: 15px;
}        