/*********** RESET ***********/


html, body {
    scroll-behavior: smooth;
    margin: 0;
}


/*********** STYLE ***********/

header{
    padding: 1em;
    background-color: white;
/*    width: 100%;*/
    top: 0px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

:target:before {
    content: "";
    display: block;
    height: 10rem;
    margin: -10rem 0 0;
}

nav{
    font-family: 'poppins', sans-serif;
    display: flex;
}

nav a{
    text-decoration: none;
    color: #1c69ba;
    display: inline-block;
    margin-top: -1em;
    margin: 0 1em 0 1em;
    padding: 0.5em;
    font-size: 1em;
}

nav a:hover{
    font-weight: bold;
    color: #1c69ba;
}

.rayons{
    width: 3em;
    display: flex;
    margin: auto;
    opacity: 0;
}

nav a:hover .rayons{
    opacity: 100;
}

#logo{
    width: 6em;
    display: absolute;
    left: 0;
    top: 0;
    margin-left: 4.5vw;
}

body{
    font-family: 'poppins', sans-serif;
}

a{
    color: #1c69ba;
}

a:hover{
    color: #94cc0d;
}

.banniere{
    background-size: cover;
    background-position: center;
    height: 25vw;
    background-color: #94cc0d;
}

#ban-accueil{background-image:url(Images/ban-accueil.jpg);}

#ban-CPE{background-image:url(Images/ban-CPE.jpg);}

#ban-inscription{background-image:url(Images/ban-inscription.jpg);}

h1{
    font-weight: bold;
    font-size: 3em;
    line-height: 1.25em;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #1c69ba;
}

h2{
    font-family: 'atma';
    font-weight: bolder;
    font-size: 2em;
    line-height: 1.25em;
}

ul{list-style: none;}

li{margin-bottom: 0.75em;}

li::before {
    list-style-position: outside;
    content: "\2022"; 
    color: #1c69ba;
    font-weight: bold;
    display: inline-block; 
    width: 1.25em; 
    margin-left: -1.25em; 
}

.pleine{
    margin: 3em 6vw 3em 6vw;
}

footer{
    background-color: #1c69ba;
    padding: 0.5em;
    margin-top: 2.5em;
    text-align: center;
    font-size: 0.75em;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

.moitie{
    display: flex;
    padding-top: none;
}

.moitie-img{
    max-width: 50%;
    object-fit: cover;
}

.moitie-text{
    background-color: #fffdf0;
    padding: 1em 6vw 4em 4em;
    max-width: 50%;
}

.m-m{
    display: flex;
    width: 100%;
    padding: 0 6vw 0 6vw;
}

/*********** ACCUEIL ***********/

.video{
    display: block;
    margin: auto;
    max-width: 75%;
}

.ban-video{
    background-color: ;
    padding: 2em;
    margin-top: 1em;
}

#sous-menu {
    display: flex;
    text-align: center;
    gap: 3%;
    padding: 1.5em 2em 3.25em 2em;
    margin-top: 2em;
    margin-bottom: 2.5em;
}

#sous-menu a{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

#sous-menu a:hover{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #94cc0d;
}
.cercle{
    border-radius: 100%;
    width: 16vw;
    background-color: #94cc0d;
}

.cercles {
	background: #94cc0d;
    border-radius: 100%;
    width: 16vw;
    height: 16vw;
    margin: auto;
}

.cercles img {
	opacity: 1;
    filter: grayscale(0);
}

.cercles:hover img {
	opacity: .5;
    -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
    filter: grayscale(100);
}

#ecoute{
    background-color: #fffdf0;
    padding: 2em 6vw 2em 6vw;
    margin: 0;
}

#lieux{
    background-color: #fffdf0;
    margin: 0;
}

/*********** LE CPE ***********/

.valeurs{
    text-align: center;
    font-weight: bold;
    color: #94cc0d;
    display: flex;
}

.valeurs p{
    margin: auto;
    font-size: 1em;
    text-transform: uppercase;
}

/*********** INSCRIPTION ***********/

.inscription{
    display: flex;
    align-items: center;
    max-width: 47em;
    margin: auto;
    text-align: justify;
}

.ray-droit{
    max-height: 3em;
    transform: rotate(90deg)
}

.ray-gauche{
    max-height: 3em;
    transform: rotate(-90deg)
}

/*********** NOUS JOINDRE ***********/

.inst{
    margin:auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    max-width: 30em;
    min-height: 5em;
    box-shadow: 1.5px 1.5px 5px #d4dbe8;
    border-radius: 3px
}

.inst-bloc{
    background-color: white;
    padding: 1em;
    flex: 1;
    border-radius: 0 3px 3px 0;
}

.inst-icone{
    display: flex;
    width: 5em;
    height: 5em; 
    padding: 2em;
    border-radius: 3px 0 0 3px;
}

.icone{
    max-height: 6em;
    max-width: 6em;
    margin: auto;
}

.inst-bloc h3{
    margin: 0em 0 0.25em 0;
}

.inst-bloc p{
    margin: 0;
}

#admin{
    background-color: #1c69ba;
}

#rayon{
    background-color: #fad900;
}

#tournesol{
    background-color: #94cc0d;
}

#coeur{
    background-color: #f44f6f;
}

#plume {
    background-color: #4999cc;
}
