* {
	margin: 0;
	box-sizing: border-box;
}


header {
	position: sticky;
	top: 0;
	width: 100%;
	text-align: center;
	background-color: #F07BBB;
	color: #FCB7D0;
	padding: 0.5em;
	padding-top: 0em;
	font-size: 1.5em;
}


header a {
	margin-left: 1em;
	vertical-align: middle;
}

header img {
	vertical-align:text-bottom;
}


.sigle{
    margin-left: 1em;
    width: 1.25em;
}


body {
	font-family: 'Quicksand', sans-serif;
	background-image: url(image/champs_pivoines.jpg);
	background-size: cover;
	background-attachment: fixed;
}


h1 {
	font-size: 12vw;
	max-width: 100%;
}

.blog {
	text-align: center;
	color: #F07BBB;
}

h2,
h3 {
	font-family: 'Delius Unicase', cursive;
	color: #F07BBB;
	margin-bottom: 0.5em;
}


h3 {
	margin-top: 1em;
}


img {
	border-radius: 5px;
	margin-top: 0.5em;
}


article {
	color: #3b3b3b;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 2em;
	padding-top: 2em;
	margin: auto;
	margin-top: 4em;
	margin-bottom: 4em;
	text-align: left;
	border-radius: 3px;
	width: 60%;
	max-width: 900px;
}


.premier_article {
    top: 450px;
}


.clearfix:after{
	content: "";
	display: block;
	clear: both;
}


article a {
	color: #FCB7D0;
}


article a:visited {
	color: #FCB7D0;
}


article a:hover {
	color: #FEE5EB;
}


article a:active {
	color: #F07BBB;
}

ul{
	margin-bottom: 0.75em;
}

p {
	margin-bottom: 0.75em;
}


.boutique {
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
}


.boutique a {
	color: #FCB7D0;
}


.boutique a:hover {
	color: #F07BBB;
}


.index {
	background-image: none;
	background-color: #FEE5EB;
}


.index article {
	background-image: url(image/champs_pivoines.jpg);
	background-size: cover;
	-webkit-background-clip: text;
	color: transparent;
	text-align: center;
	margin: none;
	padding: none;
	width: 80%;
	max-width: 80%;
}


.div_apropos {
	display: flex;
	flex-flow: row wrap;
	margin-top: 2em;
	margin-bottom: 2em;
	justify-content: space-between;
	align-items: center;
}

.pivoine {
	display: block;
	margin: auto;
	max-width: 4em;
	margin-bottom: 0em;
	margin-top: 1em;
}


#bouton_accueil {
	width: 20%;
}


.img_blog {
	width: 100%;
	max-width: 100%;
}


#vetements {
	float: left;
	width: 40%;
	border-radius: 3px;
	margin-right: 1em;
}


#enfant_mode {
	float: right;
	width: 25%;
	margin-left: 1em;
}


.img_apropos {
	width: 32%;
}


.malcommom_titre{
    top: 0;
    width: 100%;
    border-radius: 0px;
    margin: 0;
	margin-bottom: -5px;
}


footer {
	width: 100%;
	text-align: center;
	color: #FEE5EB;
	padding: 1em;
}


.footer_accueil {
	color: #FCB7D0;
	position: fixed;
	bottom: 0;
}


a {
	color: #FEE5EB;
	text-decoration: none;
}


a:visited {
	color: #FEE5EB;
}


a:hover {
	color: #FCB7D0;
}


a:active {
	color: #FEE5EB;
}
