*{
    margin: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 15rem;
    background-color: rgba(255, 255, 255, 0.85);
    height: 100vh;
    top: 0;
    left: 0;
    padding: 3rem 0;
}

h1{
    color: red;
    font-size: 2rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img{
    max-width:100%;
}

.logo{
    width: 12rem;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

nav a{
    display: block;
    text-transform: uppercase;
    padding: 0.3em 1em;
    text-align: center;
    border: 1px solid #325647;
    border-radius: 100px;
    background: #2D073E;
    color: #DC143C;
    margin: 20px 10px 30px;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.85)
    color: #2D073E;
    margin: 20px 10% 30px 10px;
}

.bouton{
    display: inline-block;
    background-color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
    border: 5px solid #DC143C;
    border-radius: 20px;
    font-size: 2vmin;
    font-family: 'Raleway', sans-serif;
    text-align: center; 
    margin-bottom: 16px;
    margin-top: 16px;
}

main{
    min-height:95vh;
    margin-left: 15rem;
    background-color: #2D073E;
    text-align: center;
}

.titre{
    color: #DC143C;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

h2{
    color: #DC143C;
    font-size: 2rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3{
    color: #DC143C;
    font-size: 60px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 60px;
}

h4{
    color: #DC143C;
    font-size: 60px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
}

section {
    width: auto;
    margin-top: 20px;
    font-size: 20px;
    background-color: ghostwhite;
    text-align: left;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.menupays{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.menupays a{
    margin: 0 1rem;
    
}
p{
    color: black;
    padding-bottom: 12px;
    font-family: 'Raleway', sans-serif;   
}

.bouton:hover{
    background-color: #1d1d1d;
    border: 1px solid #325647;
    border-radius: 20px;
    color: white;
    align-content: center;
    align-items: center;
}

#suite{
    filter: grayscale();
    z-index: -1;
    border-top: 1px solid white;
}

form{
    margin: auto;
    max-width: 300px;
}

textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

label{
    color: white;
}

a{
    text-decoration: none;
    color: #DC143C;
    width= 30px;
}

.social{
    text-align: center;
}

.social a{
    margin-left: 0;
    display: inline-block;
}

.social img{
    height: 1.5rem;
}

.slider{
    position: relative;
}

footer{
    color: white;
    background-color: black;
    text-align: right;
    padding: 1rem 2rem;
    z-index: 1000;
    position: relative;
}